﻿@model ShopPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Change Shop Password";
    bool Locked = true;
    if (ViewData["Locked"] != null){
        bool.TryParse(ViewData["Locked"].ToString(), out Locked);
    }
 }
}
<div class="container">
    <div class="col-xs-4"></div>
    <div class="col-xs-4" id="mainPanel">
        <h3 class="text-center">Change Shop Password</h3>
        <hr />
        <dl style="padding-left:8px;">
            <dt><span class="iconCode">&#xf09c;</span>Security</dt>
                <dd>Be careful. This password is required for new account creation.</dd>
            <dt><span class="iconCode">&#xf13e;</span> Requirements</dt>
                <dd>Please use a complex password between 6 and 20 characters long with atleast one number and symbol.</dd>
            <dt><span class="iconCode">&#xf023;</span> Admin Lock</dt>
                <dd>Administrators can lock this field completely in the administrator settings.</dd>
        </dl>
        @if (ViewData["Exception"] != null)
        {
            <div class="text-center"><span class="text-danger">@ViewData["Exception"]</span></div>
        }
        <form asp-controller="Account" asp-action="ChangeShopPassword" class="form-group" style="margin-left:auto;margin-right:auto;" id="shopForm" autocomplete="off">
            @if (User.HasClaim("Admin", "True"))
            {
                <input asp-for="OldPassword" type="password" name="OldPassword" class="form-control fancyInput" placeholder="Old Password" style="text-align:center" />
                <input asp-for="Password" type="password" name="Password" class="form-control fancyInput" placeholder="New Password" style="text-align:center" />
                <input id="ConfirmPassword" type="password" class="form-control fancyInput" placeholder="Confirm New Password" style="text-align:center" />
                <div id="errMessage" class="text-danger text-center"></div>
            }
            else
            {
                if (Locked)
                {
                    <div class="form-control fancyInput" style="text-align:center">Your Admin has disabled this feature.</div>
                }
                else
                {
                    <input asp-for="OldPassword" type="password" name="OldPassword" class="form-control fancyInput" placeholder="Old Password" style="text-align:center"/>
                    <input asp-for="Password" type="password" name="Password" class="form-control fancyInput" placeholder="New Password" style="text-align:center"/>
                    <input id="ConfirmPassword" type="password" class="form-control fancyInput" placeholder="Confirm New Password" style="text-align:center" />
                    <div id="errMessage" class="text-danger text-center"></div>
                }
            }
            <input id="submit" type="submit" class="form-control"/>
        </form>
        <a asp-action="Index" asp-controller="Manage" style="margin-bottom:5px;">Back To Settings</a>
    </div>
    <div class="col-xs-4"></div>
</div>
<script>

    document.getElementById("shopForm").addEventListener("input", () => {
        if (document.getElementById("Password").value != document.getElementById("ConfirmPassword").value)
        {
            document.getElementById("submit").setAttribute("disabled", "disabled");
            document.getElementById("errMessage").innerText = "Passwords do not match.";
        }
        else
        {
            document.getElementById("submit").removeAttribute("disabled");
            document.getElementById("errMessage").innerHTML = "";
        }
    });
</script>
<style>
    .iconCode{
        font-family: FontAwesome;
    }
    #shopForm input{
        max-width: none !important;
    }
    .fancyInput{
        margin-bottom: 15px;
    }
    .fancyInput:focus{
        background: lightyellow;
    }
    #mainPanel{
        background:  linear-gradient(white,rgba(51, 68, 51, 0.05));
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    #errMessage{
        margin-top: 10px;
    }
    #ConfirmPassword{
        margin-bottom:0px;
    }
    #submit{
        margin-top:15px;
    }
</style>