﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Welcome!";
}

<h2 class="text-center">Welcome Back!</h2>
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 text-center">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" id="loginForm">
                <hr />
                <div asp-validation-summary="All" class="text-danger" id="validationSummary"></div>
                <div class="form-group">
                        <input asp-for="Email" class="form-control fancyInput center-content" placeholder="Email" style="text-align:center;"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <input asp-for="Password" class="form-control fancyInput center-content" placeholder="Password" style="text-align:center"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group center-content">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-default" id="loginButton">Log in</button>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
                @*<p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>*@
            </form>
        </section>
    </div>
    <div class="col-sm-4">

    </div>
    @*<div class="col-md-4">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<script>
</script>
<style>
    .center-content{
        margin-left:auto;
        margin-right:auto;
    }
    .fancyInput:focus{
        background: lightyellow;
    }
    #validationSummary ul{
        list-style-type: none;
        margin-right:5%;
    }
</style>