﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center">Hey Stranger!</h2>
<div class="row">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <hr />
    <dl>
        <dt><span class="iconCode">&#xf13e;</span> Requirements</dt>
        <dd style="text-align:justify">Please use a complex password between 6 and 20 characters long with atleast one number and symbol.</dd>
    </dl>
    @Html.ValidationSummary(true,"",new { @class = "text-danger" })
    <div class="form-group">
            <input asp-for="Email" class="form-control fancyInput content-center" placeholder="Email" style="text-align:center"/>
            <div style="text-align:center"><span asp-validation-for="Email" class="text-danger errorSpan"></span></div>
    </div>
    <div class="form-group">
            <input asp-for="Password" class="form-control fancyInput content-center" placeholder="Password" style="text-align:center"/>
        <div style="text-align:center"><span asp-validation-for="Password" class="text-danger errorSpan"></span></div>
    </div>
    <div class="form-group">
            <input asp-for="ConfirmPassword" class="form-control fancyInput content-center" placeholder="Confirm Password" style="text-align:center"/>
            <div style="text-align:center"><span asp-validation-for="ConfirmPassword" class="text-danger errorSpan"></span></div>
    </div>
    <div class="form-group">
            <input asp-for="ShopPassword" class="form-control fancyInput content-center" placeholder="Shop Password" style="text-align:center"/>
            <div style="text-align:center"><span asp-validation-for="ShopPassword" class="text-danger errorSpan"></span></div>
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-default content-center" style="display:block">Register</button>
    </div>
    <div>
        <a asp-action="Login" style="display:block;text-align:center">Back to Login</a>
    </div>
</form>
    </div>
    <div class="col-xs-4">

    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<style>
    .content-center{
        margin-left:auto;
        margin-right:auto;
    }
    .fancyInput:focus{
        background: lightyellow;
    }
    .errorSpan{
        display:block;
    }
    .iconCode{
        font-family: FontAwesome;
    }
    #validationSummary ul{
        text-align:justify;
        padding-left: 15px;
    }
</style>