﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2 class="text-center" style="margin-left:1.2em;">@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 col-xs-12" id="mainPanel">
            <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                <hr />
                <dl>
                    <dt><span class="iconCode">&#xf13e;</span> Requirements</dt>
                    <dd>Please use a complex password between 6 and 20 characters long with atleast one number and symbol.</dd>
                </dl>
                <div asp-validation-summary="All" class="text-danger validationSummary"></div>
                <div class="form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input asp-for="OldPassword" class="form-control fancyInput" placeholder="Old Password"/>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input asp-for="NewPassword" class="form-control fancyInput" placeholder="New Password"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="text-align:center;">
                        <input asp-for="ConfirmPassword" class="form-control fancyInput" placeholder="Confirm New Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-default" id="submit">Submit</button>
                    </div>
                </div>
            </form>
            <a asp-action="Index" asp-controller="Manage">Back To Settings</a>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<style>
    .fancyInput{
        text-align:center;
    }
    .fancyInput:focus{
        background: lightyellow;
    }
    input{
        max-width: none !important;
    }
    #submit{
        width: 100%;
        max-width: none;
    }
    .validationSummary{
        text-align: center; 
    }
    .validationSummary ul{
        list-style-type: none;
        margin-left:-7%;
    }
    #mainPanel{
        background:  linear-gradient(white,rgba(51, 68, 51, 0.05));
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .iconCode{
        font-family: FontAwesome;
    }
</style>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
