﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <br/><br/><br/>
            <h1>Website Wiki</h1>
            <div id="table-of-contents">
               <a class="wiki-sub-header" href="#term-definitions">Term Definitions</a>
               <a class="wiki-section" href="#rental-logistics">Rental Logistics</a>
               <a class="wiki-section" href="#administrators">Administrator</a>
               <a class="wiki-section" href="#Employee">Employee</a>
               <a class="wiki-section" href="#user">User</a>
               <a class="wiki-section" href="#rental">Rental</a>
               <a class="wiki-section" href="#record">Record</a>
            </div>
            <br/>
            <h3>Term Definitions</h3>
            <dl>
                <dt id="rental-logistics">Rental Logistics</dt>
                <dd>An equipment tracking application hosted on http://rentallogisticsapp.azurewebsites.net</dd>

                <dt id="administrator">Administrator</dt>
                <dd>An employee or manager given website managing rights.</dd>

                <dt id="employee">Employee</dt>
                <dd>An employee who is given rights to use Rental Logistics to manage Rentals.</dd>

                <dt id="user">User</dt>
                <dd>A customer who’s information has been entered into Rental Logistics.</dd>

                <dt id="rental">Rental</dt>
                <dd>A set of information about a User’s most recent active equipment rental. A Rentals information is always directly connected to the corresponding Users.</dd>

                <dt id="record">Record</dt>
                <dd> A rental that has been marked as non-active. This non-active Rental information is then linked with its User’s active rental. Once saved as a record it will no longer be counted as un-returned, or included in any Reports page metrics.</dd>
            </dl>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
<style>
    dl dt{
        margin-top:2em;
    }
    h1{
        text-align:center;
    }
    #table-of-contents{
        width: 50%;
        margin-left: 40%;
    }
    .wiki-sub-header{
        display:block;
        color:#020d96;
    }
    .wiki-section{
        display:block;
        margin-left:3%;
        color:#0617e8;
    }
    .wiki-section:hover,.wiki-sub-header:hover,.wiki-section:active,.wiki-sub-header:active,.wiki-section:focus,.wiki-sub-header:focus{
        color:#525fff;
    }
</style>