﻿@model IndexViewModel
@{
    ViewData["Title"] = "My Account";
    string TextSuggestions = ViewData["TextSuggestions"].ToString();
    string CapitalizeWords = ViewData["CapitalizeWords"].ToString();
    string LargeFont = ViewData["LargeFont"].ToString();
    string ShopPassword = ViewData["ShopPassword"].ToString();
    string CreateForm = ViewData["CreateForm"].ToString();
    var admin = false;
}

@*@if (ViewData["StatusMessage"] != null)
{
    if (ViewData["StatusMessage"].ToString().Contains("0"))
    {
        <div class="text-danger text-center" id="statusMessage">@ViewData["StatusMessage"].ToString().TrimStart('0')</div>
    }
    if (ViewData["StatusMessage"].ToString().Contains("1"))
    {
        <div class="text-success text-center" id="statusMessage2">@ViewData["StatusMessage"].ToString().TrimStart('1')</div>
    }
    if (ViewData["StatusMessage"].ToString().Contains("Changed"))
    {
        <div class="text-success text-center" id="statusMessage2">@ViewData["StatusMessage"]</div>
    }
    if (ViewData["StatusMessage"].ToString().Contains("2"))
    {
        <div class="text-success text-center" id="statusMessage2">@ViewData["StatusMessage"].ToString().TrimStart('2')</div>
    }
    if (ViewData["StatusMessage"].ToString().Contains("3"))
    {
        <div class="text-danger text-center" id="statusMessage">@ViewData["StatusMessage"].ToString().TrimStart('3')</div>
    }
}*@
<div id="outerContainer">
    <h2 class="text-center">Manage Account</h2>

    <h4 class="text-center">Account and Website Settings</h4>
    <hr />
    <div class="container">
        <div class="row" style="max-width:1140px">
            <div class="col-xs-4">

            </div>
            <div class="col-xs-4 text-center">
                @if (ViewData["AccountMessage"] != null)
            {
                    <div>@ViewData["AccountMessage"]</div>
                }
                <div id="usersettingsDiv">
                    <a data-toggle="modal" href="#modal2"><span id="qMark2" style="font-family:FontAwesome;color:#18bc9c;">&#xf059;</span></a>
                    <a asp-controller="Manage" asp-action="ToggleTextSuggestions" class="btn-bracketed">
                        <span id="indicator1" class="indicator"></span>Text Suggestions
                    </a><br />
                    <a asp-controller="Manage" asp-action="ToggleCapitalize" class="btn-bracketed">
                        <span id="indicator2" class="indicator"></span>Capitalize Words
                    </a><br />
                    <a asp-controller="Manage" asp-action="ToggleLargeFont" class="btn-bracketed">
                        <span id="indicator3" class="indicator"></span>Large Font
                    </a><br />
                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change My Password</a><br />
                    <a asp-controller="Account" asp-action="ChangeShopPassword" class="btn-bracketed">Change Shop Password</a>
                </div>
                @if (User.HasClaim("Admin", "True"))
            {
                    <hr />
                    <div id="settingsDiv">
                        <a data-toggle="modal" href="#modal"><span id="qMark" style="font-family:FontAwesome;color:red;">&#xf059;</span></a>
                        <h4 class="text-center" style="text-decoration:underline">Admin Settings</h4>
                        <a asp-controller="Account" asp-action="LockShopPassword" class="btn-bracketed adminLink">
                            <span id="indicator4" class="indicator"></span>Shop Password Lock
                        </a><br />
                        <a asp-controller="Account" asp-action="FormStrictMode" class="btn-bracketed adminLink">
                            <span id="indicator5" class="indicator"></span>Create Form Security
                        </a>
                    </div>
                }
            </div>
            <div class="col-xs-4">

            </div>
        </div>
    </div>
    <div id="snackbar"></div>
    @if (User.HasClaim("Admin", "True"))
    {
        <div class="modal fade" id="modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" onload="gatherModalData();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center">Admin Settings</h1>
                    </div>
                    <div class="modal-body">
                        These settings are available to users with extra privileges. Here's how they work:<br /><br />
                        <ul>
                            <li>
                                <strong>Toggle Shop Password Lock</strong> - Enable or Disable regular employees ability to change the Shop Password.
                            </li>
                            <li>
                                <strong>Toggle Create Form Security</strong> - Enable or Disable the strict guidelines on necessary information to create rentals including height, weight, etc.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="modal2" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center" id="accountSettingsHeader">Account and Website Settings</h1>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:justify;">
                            This section lets you configure your personal settings. None of the changes you make in this section will affect other users. If a setting is an on/off type, the indicator to the left will show
                            whether it's off (<span class="indicator indicatorOff" style="margin-left:0px;margin-right:0px;"></span>) or on (<span class="indicator indicatorOn" style="margin-left:0px;margin-right:0px;"></span>). Click on the link to change the setting. Here's what they do:<br /><br />
                        </div>
                        <ul>
                            <li>
                                <strong>Text Suggestions</strong> - Enable or Disable suggestions when typing information.
                            </li>
                            <li>
                                <strong>Capitalize Words</strong> - Capitalize all words.
                            </li>
                            <li>
                                <strong>Large Font</strong> - Enlarge all text.
                            </li>
                            <li>
                                <strong>Change My Password</strong> - Change your account password.
                            </li>
                            <li>
                                <strong>Change My Shop Password</strong> - Change the password required to create new accounts.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    if ('@TextSuggestions.ToString()' == 'True'){
        swapIndicator(1, true);
    }
    else {
        swapIndicator(1, false);
    }
    if ('@CapitalizeWords.ToString()' == 'True'){
        swapIndicator(2, true);
    }
    else {
        swapIndicator(2, false);
    }
    if ('@LargeFont.ToString()' == "True"){
        swapIndicator(3, true);
    }
    else {
        swapIndicator(3, false);
    }
    @if (User.HasClaim("Admin", "True")) { admin = true; }
    if ('@admin'=='True'){
        if ('@ShopPassword.ToString()' == "True") {
            swapIndicator(4, true);
        }
        else {
            swapIndicator(4, false);
        }
        if ('@CreateForm.ToString()' == "Strict") {
            swapIndicator(5, true);
        }
        else {
            swapIndicator(5, false);
        }
    }


    function swapIndicator(id, toggle) {
        if (toggle) {
            $("#indicator" + id).addClass("indicatorOn");
        }
        else {
            $("#indicator" + id).addClass("indicatorOff");
        }
    }
    //On Document Load, impliment users specific settings
    document.addEventListener("DOMContentLoaded", function (event) {
        var Capitalize = getCookie("Capitalize");
        var Largefont = getCookie("LargeFont");
        if (Capitalize == "True") { if (!$("#outerContainer").hasClass("CapitalizeAll")) { $("#outerContainer").addClass("CapitalizeAll"); } }
        else { $("#outerContainer").removeClass("CapitalizeAll"); }
        if (Largefont == "True") { if (!$("#outerContainer").hasClass("LargeFont")) { $("#outerContainer").addClass("LargeFont"); } }
        else { $("#outerContainer").removeClass("LargeFont"); }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        var settingChanged = getCookie("settingChanged");
        if (settingChanged != null && settingChanged != "") {
            if (settingChanged == "failed") {
                $("#snackbar").text("Error Saving!")
                $("#snackbar").addClass("show");
                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { $("#snackbar").removeClass("show"); }, 3000);
            }
            else {
                $("#snackbar").text(settingChanged + " Setting Saved!")
                $("#snackbar").addClass("show");
                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { $("#snackbar").removeClass("show"); }, 3000);
            }
            document.cookie = "settingChanged" + '=; Max-Age=0';
        }
    });

</script>
<style>
    #statusMessage{
        background: linear-gradient(rgba(255, 73, 73, 0.42),white);
        padding: 5px;
        font-size: 2em;
    }
    #statusMessage2{
        background: linear-gradient(lightgreen,white);
        padding: 5px;
        font-size: 2em;
    }
    #settingsDiv{
        border: 3px dotted grey;
        padding-bottom: 1em;
    }
    #usersettingsDiv{
        border: 3px dotted grey;
        padding-bottom: 1em;
        padding-top:1em;
    }
    #usersettingsDiv .btn-bracketed{
        text-shadow: 1px 1px rgba(24, 188, 156, 0.52);
        color:black;
    }
    #qMark{
        position: absolute;
        right: 10%;
        top: 67%;
    }
    #qMark2{
        position: absolute;
        right: 10%;
        margin-top:-.5em;
    }
    .adminLink{
        color:black;
        text-shadow: 1px 1px rgba(255, 0, 24, 0.54);
    }
    .adminLink:hover{
        color:black;
    }
    .CapitalizeAll H2{
        text-transform:uppercase;
    }
    .CapitalizeAll #usersettingsDiv a{
        text-transform:uppercase;
    }
    .CapitalizeAll a{
        text-transform:uppercase;
    }
    .CapitalizeAll h4{
        text-transform:uppercase;
    }
    .CapitalizeAll .modal{
        text-transform:uppercase;
    }
    .CapitalizeAll #accountSettingsHeader{
        font-size:2em;
    }
    .LargeFont h2{
        font-size: 2.5em;
    }
    .LargeFont h4{
        font-size: 2em;
    }
    .LargeFont a{
        font-size:1.5em;
    }
    .LargeFont #usersettingsDiv a{
        font-size: 1.5em;
    }
    .LargeFont .modal{
        font-size:1.5em;
    }
    .btn-bracketed:hover{
        text-decoration:none!important;
    }
    .btn-bracketed:focus{
         text-decoration:none!important;
    }
    .btn-bracketed:active{
         text-decoration:none!important;
    }
</style>