﻿@model skiShop.Models.ReportViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reports";
    int page = 1;
    int.TryParse(ViewData["Page"].ToString(), out page);
    if (page == null)
    {
        page = 1;
    }
    int pageInc = page + 1;
    int pageDec = page - 1;
    var link = false;
    var lastPage = false;
    if (ViewData["HyperLink"] != null)
    {
        if (ViewData["HyperLink"].ToString() == "true")
        {
            link = true;
        }
    }
    if (ViewData["LastPage"] != null)
    {
        if (ViewData["LastPage"].ToString() == "true")
        {
            lastPage = true;
        }
    }
}
<div id="outerContainer">
<div class="container">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="text-center">
                <br/>
                <div class="btn-group-xs">
                    <button class="btn btn-success printHide printHide2 printHide3" onclick="printFullReport();"><span style="font-family:FontAwesome">&#xf02f;</span> Print All</button>
                    <button class="btn btn-info printHide printHide2 printHide3" onclick="printReport();"><span style="font-family:FontAwesome">&#xf02f;</span> Print Statistics</button>
                    <button class="btn btn-info printHide printHide2 printHide3" onclick="printUnreturned();"><span style="font-family:FontAwesome">&#xf02f;</span> Print Unreturned</button>
                </div>
                <br/>
                <div class="printHide2">
                    <h2>Overview</h2>
                    <table class="table table-striped">
                        <tr>
                            <td style="font-weight:bold">Type</td>
                            <td style="font-weight:bold;width:50%;">Total</td>
                        </tr>
                        <tr>
                            <td>Rentals</td>
                            <td>@Html.DisplayFor(model => model.RentalCount)</td>
                        </tr>
                        <tr>
                            <td>Seasonal</td>
                            <td>@Html.DisplayFor(model => model.SeasonalCount)</td>
                        </tr>
                        <tr>
                            <td>Daily</td>
                            <td>@Html.DisplayFor(model => model.DailyCount)</td>
                        </tr>
                        <tr>
                            @{ var unret = Model.RentalCount - Model.ReturnedCount;}
                            <td>Unreturned</td>
                            <td>@unret</td>
                        </tr>
                        <tr>
                            <td>Partially Returned</td>
                            <td>@Html.DisplayFor(model => model.PartiallyReturnedCount)</td>
                        </tr>
                        <tr>
                            <td>Returned</td>
                            <td>@Html.DisplayFor(model => model.ReturnedCount)</td>
                        </tr>
                        <tr>
                            <td>Old Daily Unreturned</td>
                            <td>@Html.DisplayFor(model => model.DailyReturned)</td>
                        </tr>
                        <tr>
                            <td>Daily Returned</td>
                            <td>@Html.DisplayFor(model => model.CurrentDailyReturned)</td>
                        </tr>
                        <tr>
                            <td>Daily Unreturned</td>
                            <td>@Html.DisplayFor(model => model.CurrentDailyUnreturned)</td>
                        </tr>
                    </table>
                    @*Total Rentals: @Html.DisplayFor(model => model.RentalCount)<br/>
            Total Seasonal: @Html.DisplayFor(model => model.SeasonalCount)<br />
            Total Daily: @Html.DisplayFor(model => model.DailyCount)<br />
            Total Returned: @Html.DisplayFor(model => model.ReturnedCount)<br />
            Total Daily Returned: @Html.DisplayFor(model => model.DailyReturned)<br />
            Current Daily Returned: @Html.DisplayFor(model => model.CurrentDailyReturned)<br />
            Current Daily Unreturned: @Html.DisplayFor(model => model.CurrentDailyUnreturned)<br />*@
                    <br />
                    <h2>Equipment</h2>
                    <table class="table table-striped">
                        <tr>
                            <td style="font-weight:bold">Equipment</td>
                            <td style="font-weight:bold;width: 20%;">Total</td>
                            <td style="font-weight:bold">Most Popular</td>
                            <td style="font-weight:bold">Most Popular Total</td>
                        </tr>
                        <tr>
                            <td>Ski</td>
                            <td>@Html.DisplayFor(model => model.SkiRentals)</td>
                            <td>@Html.DisplayFor(model => model.TopSkiRental)</td>
                            <td>@Html.DisplayFor(m => m.TopSkiRentalCount)</td>
                        </tr>
                        <tr>
                            <td>Snowboard</td>
                            <td>@Html.DisplayFor(model => model.SnowboardRentals)</td>
                            <td>@Html.DisplayFor(model => model.TopSnowboardRental)</td>
                            <td>@Html.DisplayFor(m => m.TopSnowboardRentalCount)</td>
                        </tr>
                        <tr>
                            <td>Boots</td>
                            <td>@Html.DisplayFor(model => model.BootRentals)</td>
                            <td>@Html.DisplayFor(model => model.TopBootRental)</td>
                            <td>@Html.DisplayFor(m => m.TopBootRentalCount)</td>
                        </tr>
                        <tr>
                            <td>Bindings</td>
                            <td>@Html.DisplayFor(model => model.BindingRentals)</td>
                            <td>@Html.DisplayFor(model => model.TopBindingRental)</td>
                            <td>@Html.DisplayFor(m => m.TopBindingRentalCount)</td>
                        </tr>
                        <tr>
                            <td>Poles</td>
                            <td>@Html.DisplayFor(model => model.PoleRentals)</td>
                            <td>@Html.DisplayFor(model => model.TopPoleRental)</td>
                            <td>@Html.DisplayFor(m => m.TopPoleRentalCount)</td>
                        </tr>
                    </table>
                    <span id="unreturnedTable"></span>
                </div>
                <div class="printHide">
                    <h2>Unreturned</h2>
                    <select id="filterSelect" class="form-control printHide" onchange="storeFilter();">
                        <option value="None">No Filter</option>
                        <option value="Seasonal">Seasonal</option>
                        @*<option value="SeasonalRecent">Seasonal Recent</option>*@
                        <option value="Daily">Daily</option>
                        <option value="DailyRecent">Overdue</option>
                        @*<option value="Recent">Recent</option>*@
                    </select><br />
                    <a id="None" asp-action="Reports" asp-route-hyperLink="true" asp-route-filter="None" style="display:none;"></a>
                    <a id="Seasonal" asp-action="Reports" asp-route-hyperLink="true" asp-route-filter="Seasonal" style="display:none;"></a>
                    <a id="SeasonalRecent" asp-action="Reports" asp-route-hyperLink="true" asp-route-filter="SeasonalRecent" style="display:none;"></a>
                    <a id="Daily" asp-action="Reports" asp-route-hyperLink="true" asp-route-filter="Daily" style="display:none;"></a>
                    <a id="DailyRecent" asp-action="Reports" asp-route-hyperLink="true" asp-route-filter="DailyRecent" style="display:none;"></a>
                    <a id="Recent" asp-action="Reports" asp-route-hyperLink="true" asp-route-filter="Recent" style="display:none;"></a>
                    @*@if (page > 1)
                    {
                        <a asp-action="Reports" class="btn btn-bracketed linkHover printHide printHide2" asp-route-page="@pageDec" asp-route-hyperLink="true">Previous</a>
                    }
                    @if (!lastPage)
                    {
                        <a asp-action="Reports" class="btn btn-bracketed linkHover printHide printHide2" asp-route-page="@pageInc" asp-route-hyperLink="true">Next</a>
                    }*@
                    <table class="table table-striped">
                        <tr>
                            <td style="font-weight:bold;">First Name</td>
                            <td style="font-weight:bold;">Last Name</td>
                            <td style="font-weight:bold;">Phone Number</td>
                            <td style="font-weight:bold;">Date Created</td>
                            <td style="font-weight:bold;">Daily Rental</td>
                        </tr>
                        @foreach (RentalReportViewModel rental in Model.ToBeReturned)
                        {
                            <tr>
                                <td>@rental.FirstName</td>
                                <td>@rental.LastName</td>
                                <td>@if (rental.PhoneNumber != 0) { <span>@rental.PhoneNumber</span> }</td>
                                <td>@rental.DateCreated.ToString(@"MM\/dd\/yyyy HH:mm")</td>
                                <td>
                                    @if (rental.DailyRental)
                                    {
                                        <span>Yes</span>
                                    }
                                    else
                                    {
                                        <span>No</span>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                    <span class="printHide2">User Count: @Html.DisplayFor(model => model.UserCount)</span><br />
                </div>
                @*Top Ski Rental Brand:  / #:<br/>
                Snowboard Rentals: @Html.DisplayFor(model => model.SnowboardRentals)<br />
                Top Snowboard Rental Brand: @Html.DisplayFor(model => model.TopSnowboardRental) / #: @Html.DisplayFor(m=>m.TopSnowboardRentalCount)<br/>
                Boot Rentals: @Html.DisplayFor(model => model.BootRentals)<br />
                Top Boot Rental Brand: @Html.DisplayFor(model => model.TopBootRental) / #: @Html.DisplayFor(m=>m.TopBootRentalCount)<br />
                Binding Rentals: @Html.DisplayFor(model => model.BindingRentals)<br />
                Top Binding Rental Brand: @Html.DisplayFor(model => model.TopBindingRental) / #: @Html.DisplayFor(m=>m.TopBindingRentalCount)<br />
                Pole Rentals: @Html.DisplayFor(model => model.PoleRentals)<br />
                Top Pole Rental Brand: @Html.DisplayFor(model => model.TopPoleRental) / #: @Html.DisplayFor(m=>m.TopPoleRentalCount)<br />*@
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>

</div>
</div>
<script>
    // if pagination was used scroll to the list
    if (@link.ToString().ToLower() == true){
        window.scroll(0,findPos(document.getElementById("unreturnedTable")));
    }
    function findPos(obj) {
        var curtop = 0;
        if (obj.offsetParent) {
            do {
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
            return [curtop];
        }
    }
    document.getElementById("filterSelect").addEventListener("change",function(){
        document.getElementById("filterSelect").classList.add("noPointerEvents");
        var target = document.getElementById("filterSelect").value;
        document.getElementById(target).click();
    });
    function readFilter() {
        if (sessionStorage.getItem('report') != null && sessionStorage.getItem('report') != 'undefined') {
            document.getElementById('filterSelect').value = sessionStorage.getItem('report');
        }
    }
    readFilter();
    //On Document load, modify page to users specific settings
    document.addEventListener("DOMContentLoaded", function(event) { 
        var Capitalize = getCookie("Capitalize");
        var Largefont = getCookie("LargeFont");
        if (Capitalize == "True") { if (!$("#outerContainer").hasClass("CapitalizeAll")) { $("#outerContainer").addClass("CapitalizeAll"); } }
        else { $("#outerContainer").removeClass("CapitalizeAll"); }
        if (Largefont == "True") { if (!$("#outerContainer").hasClass("LargeFont")) { $("#outerContainer").addClass("LargeFont"); } }
        else { $("#outerContainer").removeClass("LargeFont"); }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    });
</script>
<style>
    .linkHover{
        color:black;
    }
    .linkHover:hover{
        color: red;
    }
    #filterSelect{
        margin-left:auto;
        margin-right:auto;
    }
    .CapitalizeAll H2{
        text-transform:uppercase;
    }
    .CapitalizeAll table{
        text-transform:uppercase;
    }
    .CapitalizeAll select{
        text-transform:uppercase;
    }
    .CapitalizeAll button{
        text-transform:uppercase;
    }
    .LargeFont H2{
        font-size:2.5em;
    }
    .LargeFont table{
        font-size:1.5em;
    }
    .LargeFont select{
        font-size:1.5em;
        height: 50px;
    }
    .LargeFont button{
        font-size:1.5em!important;
    }
</style>