﻿@font-face{
    font-family: snowWinter;
    src: url(/css/Snowinter-Free-For-Personal-Use.otf);
}
@font-face{
    font-family: mont;
    src: url(/css/MASQUE__.ttf);
}
@font-face{
    font-family: FontAwesome;
    src: url(/lib/FontAwesome.otf);
}
@font-face{
    font-family: TopModern;
    src: url(/lib/TopModern.otf);
}
.TopModern{
    font-family:Baron;
}
.imgHandler{
    height:34em;
}
@media(max-width:1000px) {
    .imgHandler{
        height:24em;
    }
    .carousel-indicators{
        display:none;
    }
}
    
@media(max-width:992px){
 #filterSelect{
    margin-left: 1.5em;
    width: 10em;
  }
}

    #myCarousel{
        position:absolute;
        top: 0px;
        width:100% !important;
        padding: 0px !important;
        left: 0%;
    }
    #Title{
        text-align: center;
        position: relative;
        z-index: 1;
        width: 100%;
        top: -4vw;
    }

    #RL{
        color: white;
        font-size: 25vw;
        text-shadow: 1px 4px rgba(8, 8, 8, 0.57);
        font-family: mont;
    }

    #subTitle{
    position: relative;
    text-align:center;
    z-index: 1;
    width:100%;
    top: -11vw;
    border-bottom: 2px solid rgba(255,255,255,.2);
    }
    #RLsub{
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px rgba(8, 8, 8, 0.57);
    font-family: mont;
    letter-spacing: 8px;
    }
    

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }

}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.autoCompleteFix{
    position: relative;
    margin-top: -1.7em;
}
#navBar a:hover{
    color:red;
}
#navBar a:active{
    color:red;
}
#navBar a:focus{
    color:red;
}
#navBar button:hover{
    color:red;
}
/*.cellHover{
    border-bottom:1px solid rgba(24, 188, 156, 0.28)!important;
}*/
.cellHover:hover{
    background-color:rgba(211, 211, 211, 0.42);
}
.cellHover a{
    color:black;
    text-decoration:none!important;
}
/*.cellHover2{
    border-bottom:1px solid rgba(24, 188, 156, 0.28)!important;
}*/
.cellHover2:hover{
    background-color:rgba(211, 211, 211, 0.42);
}
.cellHover2 a{
    color:black;
    text-decoration:none!important;
}

.dailyCheck{
    display:inline;
}
.dailyDue{
    display:inline;
    vertical-align:17px;
    width: 12em;
    margin-left:2em;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1060!important; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    z-index: 1060!important; /* Add a z-index if needed */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*/
.checkContainer input{
        display: block;
        height: 20px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 20px;
        margin-top: 0px;
    }
    #createNew{
        border: 1px solid lightblue;
        border-radius: 6px;
        float: right;
        position: relative;
        bottom: -10px;
        padding: 2px;
    }
    #instructionsLink{
        border: 1px solid lightblue;
        border-radius: 6px;
        position: relative;
        padding: 5px;
    }
    #returnSet{
        border: 1px solid lightblue;
        border-radius: 6px;
        float: right;
        position: relative;
        bottom: -10px;
        padding: 2px;
        margin-right:1em;
    }
    .DailyRental{
        background-color: #faff8f;
    }
    .DailyRentalOld{
        background-color: #f9d673;
    }
    .paddingFix{
        padding-top: 12px;
        padding-bottom: 13px;
    }
    .checkCover{
        height: 1.2em;
        position: relative;
        display: inline-block;
        width: 1.2em;
        top: -1.3em;
    }
    .TrueA{
        background-color:yellow;
    }
    #outerContainer #NoResultsSpan{
        display:block;
        text-align:center;
        font-size:1.5em;
        margin-left:-1em;
    }
    .noPointerEvents{
        pointer-events:none!important;
    }
    #btn-USA{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
/*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*//*INDEX*/

/*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*/
.indicator{
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid black;
    margin-right: 6px;
    margin-left: -3px;
    vertical-align: 1px;
    text-decoration: none!important;
}
.indicatorOn{
    background-color: #04ff04;
}
.indicatorOff{
    background-color: red;
}
/*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*//*ACCOUNT PAGE*/


/*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/
/*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/
.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}
.modalInputs input{
    max-width:100%;
    font-size:2em!important;
    height:2em!important;
}
.modalInputs textarea{
        height: 2.5em;
        max-width: 100%;
    font-size: 2em;
}
.dailyContainer{
    height: 5em;
}

.col-left{
    padding-left:0px;
}
.col-right{
    padding-right: 0px;
}

#swapSki{
    padding-left: 3em;
    padding-right: 3em;
}

.btn-yes{
    background-color: red;
    color:white;
}
.btn-yes:hover{
    background-color: darkred;
}
#modalCollapse:focus{
    background-color:rgba(144, 238, 144, 0.8);
    color:black;
}
.radio-margin{
    margin-left:2em !important;
    margin-right:0em !important;
}
.radio-container{
    border: 1px solid rgba(128, 128, 128, 0.27);
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 6px;
    padding: 5px;
}
@media screen and (max-width: 767px) {
  /*Col Padding for modal Create Form*/
    .col-left{
        padding-left:15px;
    }
    .col-right{
        padding-right:15px;
    }

  /*Col Padding for modal Create Form*/

}
.modal-counter{
    float:left;
}
.modal-set-counter{
    float:right;
    display: block;
}

.req-invalid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
.req-invalid {
    background-color: rgba(255, 140, 140, 0.63)!important;
}
.btn-group-sticky-bottom{
    POSITION: absolute;
    BOTTOM: 10PX;
    width: 100%;
    left:0px;
}

.form-select{
    max-width: 100%;
    font-size: 2em!important;
    height: 2em!important;
}

.prompt{
    text-align: center;
    margin-bottom: -10px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
#measurements{
    font-size: 1.5em;
    vertical-align: -4px;
}
.btn-measure button{
    padding-top:1px;
    padding-bottom: 1px;
}

#ski-logo-img{
    width: 40px;
    margin-right: 8px;
}

.delForm{
    float: left;
    color: grey;
    width:25px;
    font-size:15px!important;
}
.delForm:hover{
    color: black;
}

/*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/
/*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/ /*CreateAlt*/


/*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/
/*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/

#backup-environment-header{
    color: white;
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
}
/*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/
/*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/ /*Backup Environment*/