@model skiShop.Models.Rental

@{
    ViewData["Title"] = "Create Rental";
    var security = false;
    if (ViewData["FormSecurity"] != null)
    {
        if (ViewData["FormSecurity"].ToString() == "Strict") { security = true; }
        else { security = false; }
    }
    else
    {
        security = false;
    }
}

@*<h2>Create</h2>*@
<div style="height:17px;"></div>
<form asp-action="Create4" autocomplete="off">
    <div class="form-horizontal">
        @*<h4>Rental</h4>*@
        @*<div class="radio text-center">
            <label><input type="radio" name="formType" onclick="filterForm(0)" />All</label>
            <label><input type="radio" name="formType" onclick="filterForm(1)" />Ski</label>
            <label><input type="radio" name="formType" onclick="filterForm(2)" />Snowboard</label>
        </div>*@
        <div class="container">
            <input asp-for="IdNext" style="display:none;"/>
            <span asp-validation-for="IdNext"></span>
            @Html.HiddenFor(model => model.IdPrevious)
            <span asp-validation-for="IdPrevious"></span>
            <div class="col-xs-4" id="contactInfoColumn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label formBorderYellow"></label>
                    <div>
                        <input asp-for="LastName" class="form-control" required/>
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label formBorderYellow"></label>
                    <div>
                        <input asp-for="FirstName" class="form-control" required/>
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label formBorderYellow"></label>
                    <button onclick="chevronSwap('phone');return false;" tabindex="-1" class="btn btn-sm btnCollapse" data-toggle="collapse" style="margin-left:10.4em;" data-target="#phoneCollapse" title="Add A Phone Number">Alt <i class="glyphicon glyphicon-chevron-down" id="phoneChevron"></i></button>
                    <div>
                        <input asp-for="PhoneNumber" class="form-control" required oninput="PhoneValidation();"/>
                    </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger" />
                        @*<div id="customValidation2" class="text-danger"></div>*@
                </div>
                <div class="collapse" id="phoneCollapse">
                    <div class="form-group" id="phoneNumber2Div">
                        <label asp-for="PhoneNumber2" class="control-label formBorderYellow"></label>
                        <div>
                            <input asp-for="PhoneNumber2" class="form-control" value="0" oninput="PhoneValidation();"/>
                            <span asp-validation-for="PhoneNumber2" class="text-danger" />
                        </div>
                    </div>
                </div>
                    <div id="customValidation3" class="text-danger" style="margin-left:-1em;"></div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label formBorderYellow"></label>
                    <button onclick="chevronSwap('address');return false;" tabindex="-1" data-toggle="collapse" data-target="#localCollapse" style="margin-left:13.5em" class="btn btn-sm btnCollapse" title="Local Accommodations">L.A. <i class="glyphicon glyphicon-chevron-down" id="addressChevron"></i></button>
                    <div>
                        <input asp-for="Address" class="form-control" required/>
                        <span asp-validation-for="Address" class="text-danger" />
                    </div>
                </div>
                <div class="collapse" id="localCollapse">
                    <div class="form-group" id="localAccommodationsDiv">
                        <label asp-for="LocalAccommodations" class="control-label formBorderYellow"></label>
                        <div>
                            <input asp-for="LocalAccommodations" class="form-control"/>
                            <span asp-validation-for="LocalAccommodations" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <div class="row edgePadding">
                            <div class="col-xs-4 noPadding gapFix">
                                <label asp-for="City" class="control-label formBorderYellow"></label>
                                <input asp-for="City" class="form-control cityInput" style="padding-bottom:6px;" oninput="CustomValidation();" required/>
                            </div>
                            <div class="col-xs-2 noPadding">
                                <label asp-for="State" class="control-label formBorderYellow"></label><br />
                                <input asp-for="State" class="form-control" style="max-width:90px;" value="WA" oninput="CustomValidation();" required/>
                            </div>
                            <div class="col-xs-3 noPadding">
                                <label asp-for="PostalCode" class="control-label formBorderYellow"></label><br />
                                <input asp-for="PostalCode" class="form-control" style="max-width:90px;" oninput="CustomValidation();" required/>
                            </div>
                        </div>
                        @*<span asp-validation-for="City" class="text-danger"/>
                        <span asp-validation-for="State" class="text-danger" />
                        <span asp-validation-for="PostalCode" class="text-danger" />*@
                        <div id="customValidation" class="text-danger"></div>
                </div>
                <div class="form-group autoCompleteFix">
                    <label asp-for="EmailAddress" class="control-label formBorderYellow" style="margin-left:-33%" id="emailLabel"></label>
                    <div>
                        <input asp-for="EmailAddress" class="form-control" required/>
                        <span asp-validation-for="EmailAddress" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-6 noPadding">
                            <label asp-for="Height" class="control-label formBorderYellow"></label>
                            <input asp-for="Height" class="form-control" required="@security" oninput="HeightWeightValidation();"/>
                        </div>
                         <div class="col-xs-6 noPadding" style="max-width:90px;">
                             <label asp-for="Weight" class="control-label formBorderYellow"></label>
                             <input asp-for="Weight" class="form-control" value="0" required="@security" onblur="if(this.value==''){this.value=0;CreateSetValidation((@security.ToString().ToLower()));}"/>
                         </div>
                    </div>
                        <div id="customValidation4" class="text-danger"></div>
                        @*<span asp-validation-for="Height" class="text-danger" />*@
                        @*<span asp-validation-for="Weight" class="text-danger" />*@
                </div>
                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-6 noPadding">
                            <label asp-for="Sex" class="control-label formBorderYellow"></label>
                            <select asp-for="Sex" class="form-control">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col-xs-6 noPadding" style="max-width:90px;">
                            <label asp-for="Age" class="control-label formBorderYellow"></label>
                            <input asp-for="Age" class="form-control" value="0" required="@security"  oninput="SexAgeValidation();" onblur="if(this.value==''){this.value=0;CreateSetValidation((@security.ToString().ToLower()));}"/>
                        </div>
                    </div>
                        <div class="text-danger" id="customValidation5"></div>
                        <span asp-validation-for="Sex" class="text-danger" />
                        <span asp-validation-for="Age" class="text-danger" />
                </div>
            </div>
            <div class="col-xs-8">
                <div class="row" style="height:20em;">
                         <div class="col-xs-6" style="padding-top:19px;">
                             <div class="form-group" id="skierTypeDiv">
                                 <label asp-for="SkierType" class="control-label formBorderBlue"></label>
                                 <div style="margin-top:3px;">
                                     <input type="radio" asp-for="SkierType" value="n/a" />None
                                     <input type="radio" asp-for="SkierType" value="1" style="margin-left:10px;"/>One
                                     <input type="radio" asp-for="SkierType" value="2" style="margin-left:10px;"/>Two
                                     <input type="radio" asp-for="SkierType" value="3" style="margin-left:10px;"/>Three
                                     <span asp-validation-for="SkierType" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group" id="skiBrandDiv" >
                                 <label asp-for="SkiBrand" class="control-label formBorderBlue"></label>
                                 <label asp-for="SkiSize" class="control-label formBorderBlue" style="margin-left:7.8em;"></label>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="SkiBrand" class="form-control skiComplete" id="skiBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="SkiBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="SkiSize" class="form-control" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="SkiSize" class="text-danger" />
                                 </div>
                                <div id="skiBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                             <div class="form-group" id="poleBrandDiv">
                                 <label asp-for="PoleBrand" class="control-label formBorderBlue"></label>
                                 <label asp-for="PoleSize" class="control-label formBorderBlue" style="margin-left:7.1em;"></label>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="PoleBrand" class="form-control skiComplete" id="poleBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="PoleBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="PoleSize" class="form-control" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="PoleSize" class="text-danger" />
                                 </div>
                                <div id="poleBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                             <div class="form-group" id="boardBrandDiv">
                                 <label asp-for="BoardBrand" class="control-label formBorderRed"></label>
                                 <label asp-for="BoardSize" class="control-label formBorderRed" style="margin-left:6.4em;"></label>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="BoardBrand" class="form-control skiComplete" id="boardBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="BoardBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="BoardSize" class="form-control" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="BoardSize" class="text-danger" />
                                 </div>
                                 <div id="boardBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                             <div class="form-group" id="boardStanceDiv">
                                 <label asp-for="BoardStance" class="control-label formBorderRed"></label>
                                 <div>
                                     <input asp-for="BoardStance" class="form-control" />
                                     <span asp-validation-for="BoardStance" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group" id="stanceAnglesDiv" style="margin-top:7px;">
                                 <label asp-for="StanceAngles" class="control-label formBorderRed"></label>
                                 <div>
                                     <input asp-for="StanceAngles" class="form-control" />
                                     <span asp-validation-for="StanceAngles" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label asp-for="DIN" class="control-label formBorderGreen"></label>
                                 <div>
                                     <input asp-for="DIN" class="form-control" />
                                     <span asp-validation-for="DIN" class="text-danger"></span>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label asp-for="InventoryNumber" class="control-label formBorderGreen"></label>
                                 <div>
                                     <input asp-for="InventoryNumber" class="form-control" />
                                     <span asp-validation-for="InventoryNumber" class="text-danger"></span>
                                 </div>
                             </div>
                         </div>
                         <div class="col-xs-6">
                             <div class="form-group">
                                 <label asp-for="BindingBrand" class="control-label formBorderGreen"></label>
                                 <label asp-for="BindingSize" class="control-label formBorderGreen" style="margin-left:5.7em;"></label>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="BindingBrand" class="form-control skiComplete" id="bindingBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="BindingBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="BindingSize" class="form-control" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="BindingSize" class="text-danger" />
                                 </div>
                                <div id="bindingBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                             <div class="form-group" id="BootBrandDiv">
                                 <label asp-for="BootBrand" class="control-label formBorderGreen"></label>
                                 <div>
                                     <input asp-for="BootBrand" class="form-control skiComplete bBrand" />
                                     <span asp-validation-for="BootBrand" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group autoCompleteFix" id="BootSizeDiv">
                                 <label asp-for="BootSize" class="control-label formBorderGreen"></label>
                                 <div>
                                     <input asp-for="BootSize" class="form-control" />
                                     <span asp-validation-for="BootSize" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label asp-for="BootSoleLength" class="control-label formBorderGreen"></label>
                                 <div>
                                     <input asp-for="BootSoleLength" class="form-control" />
                                     <span asp-validation-for="BootSoleLength" class="text-danger"></span>
                                 </div>
                             </div>
                             <div id="BootBrandValidation" class="text-danger" name="LinkValidation" style="margin-left:-1em;"></div>
                             <br/>
                             <a data-toggle="collapse" data-target="#custNotes" class="collapseMenu" onclick="chevronSwap('notes1','notes2');return false;">
                                 <i class="glyphicon glyphicon-chevron-down" id="notes1Chevron"></i>Add Notes<i class="glyphicon glyphicon-chevron-down" id="notes2Chevron"></i>
                             </a>
                             <div class="collapse" id="custNotes">
                                <div class="form-group">
                                    <label asp-for="CustomerNotes" class="control-label formBorderGreen"></label>
                                    <div>
                                        <textarea asp-for="CustomerNotes" class="form-control" style="max-width:280px;height:50px;">Notes</textarea>
                                        <span asp-validation-for="CustomerNotes" class="text-danger" />
                                    </div>
                                </div>
                             </div>
                             <div class="collapseBottom"></div>
                             <div style="margin-top:.8em;">
                                <input type="submit" title="Attatch Another Rental" value="Done" class="btn btn-block btn-success btn-lg" id="createButton" style="margin-left:-1em;width:15em;"/>
                             </div>
                             <div class="form-group" id="dailyRentalDiv" style="margin-top:1em;">
                                 <label asp-for="DailyRental" class="formBorderGreen" style="vertical-align:13px;"></label>
                                 <label asp-for="DueDate" class="formBorderGreen" style="vertical-align:13px;margin-left:9px;"></label><br />
                                 <input asp-for="DailyRental" class="form-control dailyCheck" type="checkbox" style="width:38px;margin-left:1.5em;" />
                                 <input asp-for="DueDate" class="form-control dailyDue" type="date" />
                                 <span asp-validation-for="DailyRental" class="text-danger"></span>
                             </div>
                         </div>
                    </div>
                <div class="row">
                    <div class="col-xs-12">
                        
                    </div>
                </div>
              </div>
             </div>
            <div class="row" style="margin-top:.8em;">
            </div>
        </div>
                @*<div width="50%" style="display:inline">
                    <a asp-action="Index">Back to List</a>
                </div>*@
</form>
<a asp-action="Index">Back Rentals</a>
@*<form asp-action="create3" id="finishForm">
    @Html.HiddenFor(model => model.Address, new { @id = "_Address" })
    @Html.HiddenFor(model => model.Age, new { @id = "_Age" })
    @Html.HiddenFor(model => model.BindingBrand, new { @id = "_BindingBrand" })
    @Html.HiddenFor(model => model.BindingSize, new { @id = "_BindingSize" })
    @Html.HiddenFor(model => model.BoardBrand, new { @id = "_BoardBrand" })
    @Html.HiddenFor(model => model.BoardSize, new { @id = "_BoardSize" })
    @Html.HiddenFor(model => model.BoardStance, new { @id = "_BoardStance" })
    @Html.HiddenFor(model => model.BootBrand, new { @id = "_BootBrand" })
    @Html.HiddenFor(model => model.BootSize, new { @id = "_BootSize" })
    @Html.HiddenFor(model => model.City, new { @id = "_City" })
    @Html.HiddenFor(model => model.CustomerNotes, new { @id = "_CustomerNotes" })
    @Html.HiddenFor(model => model.DailyRental, new { @id = "_DailyRental" })
    @Html.HiddenFor(model => model.EmailAddress, new { @id = "_EmailAddress" })
    @Html.HiddenFor(model => model.FirstName, new { @id = "_FirstName" })
    @Html.HiddenFor(model => model.Height, new { @id = "_Height" })
    @Html.HiddenFor(model => model.ID, new { @id = "_ID" })
    @Html.HiddenFor(model => model.IdNext, new { @id = "_IdNext" })
    @Html.HiddenFor(model => model.IdPrevious, new { @id = "_IdPrevious" })
    @Html.HiddenFor(model => model.LastName, new { @id = "_LastName" })
    @Html.HiddenFor(model => model.LocalAccommodations, new { @id = "_LocalAccommodations" })
    @Html.HiddenFor(model => model.PhoneNumber, new { @id = "_PhoneNumber" })
    @Html.HiddenFor(model => model.PhoneNumber2, new { @id = "_PhoneNumber2" })
    @Html.HiddenFor(model => model.PoleBrand, new { @id = "_PoleBrand" })
    @Html.HiddenFor(model => model.PoleSize, new { @id = "_PoleSize" })
    @Html.HiddenFor(model => model.PublicSubmission, new { @id = "_PublicSubmission" })
    @Html.HiddenFor(model => model.Records, new { @id = "_Records" })
    @Html.HiddenFor(model => model.Returned, new { @id = "_Returned" })
    @Html.HiddenFor(model => model.Sex, new { @id = "_Sex" })
    @Html.HiddenFor(model => model.SkiBrand, new { @id = "_SkiBrand" })
    @Html.HiddenFor(model => model.SkierType, new { @id = "_SkierType" })
    @Html.HiddenFor(model => model.SkiSize, new { @id = "_SkiSize" })
    @Html.HiddenFor(model => model.StanceAngles, new { @id = "_StanceAngles" })
    @Html.HiddenFor(model => model.State, new { @id = "_State" })
    @Html.HiddenFor(model => model.Weight, new { @id = "_Weight" })
    <input type="button" value="Finish" class="btn btn-block btn-info btn-lg" style="display:none;" />
</form>*@
<script>
    //document.getElementById("finishButton").addEventListener("click", function () {
    //    document.getElementById("_Address").value = document.getElementById("Address").value;
    //    document.getElementById("_Age").value = document.getElementById("Age").value;
    //    document.getElementById("_BindingBrand").value = document.getElementById("bindingBrandInput").value;
    //    document.getElementById("_BindingSize").value = document.getElementById("BindingSize").value;
    //    document.getElementById("_BoardBrand").value = document.getElementById("boardBrandInput").value;
    //    document.getElementById("_BoardSize").value = document.getElementById("BoardSize").value;
    //    document.getElementById("_BoardStance").value = document.getElementById("BoardStance").value;
    //    document.getElementById("_BootBrand").value = document.getElementById("BootBrand").value;
    //    document.getElementById("_BootSize").value = document.getElementById("BootSize").value;
    //    document.getElementById("_City").value = document.getElementById("City").value;
    //    document.getElementById("_CustomerNotes").value = document.getElementById("CustomerNotes").value;
    //    document.getElementById("_DailyRental").value = document.getElementById("DailyRental").checked;
    //    document.getElementById("_EmailAddress").value = document.getElementById("EmailAddress").value;
    //    document.getElementById("_FirstName").value = document.getElementById("FirstName").value;
    //    document.getElementById("_Height").value = document.getElementById("Height").value;
    //    document.getElementById("_ID").value = 0;
    //    //document.getElementById("_IdNext").value = document.getElementById("IdNext").value;
    //    document.getElementById("_IdPrevious").value = document.getElementById("IdPrevious").value;
    //    document.getElementById("_LastName").value = document.getElementById("LastName").value;
    //    document.getElementById("_LocalAccommodations").value = document.getElementById("LocalAccommodations").value;
    //    document.getElementById("_PhoneNumber").value = document.getElementById("PhoneNumber").value;
    //    document.getElementById("_PhoneNumber2").value = document.getElementById("PhoneNumber2").value;
    //    document.getElementById("_PoleBrand").value = document.getElementById("poleBrandInput").value;
    //    document.getElementById("_PoleSize").value = document.getElementById("PoleSize").value;
    //    //document.getElementById("_PublicSubmission").value = document.getElementById("PublicSubmission").value;
    //    //document.getElementById("_Records").value = document.getElementById("Records").value;
    //    //document.getElementById("_Returned").value = document.getElementById("Returned").value;
    //    document.getElementById("_Sex").value = document.getElementById("Sex").value;
    //    document.getElementById("_SkierType").value = document.getElementById("SkierType").value;
    //    document.getElementById("_SkiBrand").value = document.getElementById("skiBrandInput").value;
    //    document.getElementById("_SkiSize").value = document.getElementById("SkiSize").value;
    //    document.getElementById("_StanceAngles").value = document.getElementById("StanceAngles").value;
    //    document.getElementById("_State").value = document.getElementById("State").value;
    //    document.getElementById("_Weight").value = document.getElementById("Weight").value;
    //    document.getElementById("finishForm").submit();
    //});

    // CustomValidation For City,State,PostalCode
    function CustomValidation (x) {
        var container = document.getElementById("customValidation");
        var label = document.getElementById("emailLabel")
        var errors = 0;
        if (document.getElementById("City").value == "") { errors++; }
        if (document.getElementById("State").value == "") { errors++; }
        if (document.getElementById("PostalCode").value == "") { errors++; }
        if (errors > 0) {
            container.innerHTML = "These fields are required.";
            label.setAttribute("style", "margin-left: -33%;padding-top:1.3em!important;")
        }
        else {
            container.innerHTML = "";
            label.setAttribute("style", "margin-left: -33%;")
        }
        if (x == true) { PhoneValidation();}
    }
    console.log("here");
    function PhoneValidation () {
        var container = document.getElementById("customValidation2");
        var container2 = document.getElementById("customValidation3")
        var patt = new RegExp("([A-z_.-])");
        var errors = 0;
        var errors2 = 0
        if (document.getElementById("PhoneNumber").value == "") { errors++; }
        if (document.getElementById("PhoneNumber2").value == "") { errors2++; }
        if (errors > 0) {
            container.innerHTML = "This field is required.";
        }
        else {
            var phone1 = patt.test(document.getElementById("PhoneNumber").value);
            if (phone1) { container.innerHTML = "This field should only have numbers."; }
            else { container.innerHTML = ""; }
        }
        if (errors2 > 0) {
            container2.innerHTML = "Alt Phone is required.";
        }
        else {
            var phone2 = patt.test(document.getElementById("PhoneNumber2").value);
            if (phone2) { container2.innerHTML = "This field should only have numbers."; }
            else { container2.innerHTML = ""; }
        }
    }

    function HeightWeightValidation() {
        if (@security.ToString().ToLower() == true){
            if (document.getElementById("Height").value == ""){
                document.getElementById("customValidation4").innerHTML = "These fields are required.";
                return false;
            }
            else{
                if (document.getElementById("Weight").value == ""){
                    document.getElementById("customValidation4").innerHTML = "These fields are required.";
                    return false;
                }
                else{
                    document.getElementById("customValidation4").innerHTML = "";
                }
            }
        }
    }

    function SexAgeValidation() {
        if (@security.ToString().ToLower() == true){
            if (document.getElementById("Sex").value == ""){
                document.getElementById("customValidation5").innerHTML = "These fields are required.";
                return false;
            }
            else{
                if (document.getElementById("Age").value == ""){
                    document.getElementById("customValidation5").innerHTML = "These fields are required.";
                    return false;
                }
                else{
                    document.getElementById("customValidation5").innerHTML = "";
                }
            }
        }
    }

    // Ski Size Measurement AutoComplete
    function maskInput(elem, mod) {
        console.log("elem: " + elem + " mod: " + mod);
        var old = document.getElementById(elem.toString());
        var oldValue = old.value;
        if (oldValue.indexOf(mod) == -1) {
            old.value = oldValue + mod;
            return;
        }
    }
    document.getElementById("PoleSize").addEventListener("blur", function () { maskInput("PoleSize", "in") });
    document.getElementById("BootSoleLength").addEventListener("blur", function () { maskInput("BootSoleLength", "mm") });
    document.getElementById("SkiSize").addEventListener("blur", function () { maskInput("SkiSize", "cm") });

    document.getElementById("City").addEventListener("blur", function () { hideAutocomplete("City") });
    document.getElementById("City").addEventListener("focus", function () { showAutocomplete("City") });

    document.getElementById("skiBrandInput").addEventListener("blur", function () { hideAutocomplete("skiBrandInput") });
    document.getElementById("skiBrandInput").addEventListener("focus", function () { showAutocomplete("skiBrandInput") });

    document.getElementById("BootBrand").addEventListener("blur", function () { hideAutocomplete("BootBrand") });
    document.getElementById("BootBrand").addEventListener("focus", function () { showAutocomplete("BootBrand") });

    document.getElementById("skiBrandInput").addEventListener("blur", function () { hideAutocomplete("skiBrandInput") });
    document.getElementById("skiBrandInput").addEventListener("focus", function () { showAutocomplete("skiBrandInput") });

    document.getElementById("bindingBrandInput").addEventListener("blur", function () { hideAutocomplete("bindingBrandInput") });
    document.getElementById("bindingBrandInput").addEventListener("focus", function () { showAutocomplete("bindingBrandInput") });

    document.getElementById("poleBrandInput").addEventListener("blur", function () { hideAutocomplete("poleBrandInput") });
    document.getElementById("poleBrandInput").addEventListener("focus", function () { showAutocomplete("poleBrandInput") });

    document.getElementById("boardBrandInput").addEventListener("blur", function () { hideAutocomplete("boardBrandInput") });
    document.getElementById("boardBrandInput").addEventListener("focus", function () { showAutocomplete("boardBrandInput") });

    document.getElementById("skiBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize'); }; });
    document.getElementById("skiBrandInput").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize'); }; });
    document.getElementById("skiBrandInput").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("SkiSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("SkiSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("SkiSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("poleBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("poleBrandInput").addEventListener("blur",function(){if(@security.ToString().ToLower()){  inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("poleBrandInput").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("PoleSize").addEventListener("focus",function(){if(@security.ToString().ToLower()){  inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("PoleSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("PoleSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("boardBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("boardBrandInput").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("boardBrandInput").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("BoardSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("BoardSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');} });
    document.getElementById("BoardSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');} });
    document.getElementById("bindingBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');} });
    document.getElementById("bindingBrandInput").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("bindingBrandInput").addEventListener("input",function(){if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BindingSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BindingSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BindingSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BootBrand").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootBrand").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootBrand").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootSoleLength").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootSoleLength").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootSoleLength").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });

    function showAutocomplete(elem) {
        console.log("show");
        if (document.getElementById(elem).classList.toString().indexOf("hideAutocomplete") != -1) {
            var classlist = document.getElementById(elem).classList;
            document.getElementById(elem).classList = (document.getElementById(elem).classList.toString()).slice(0, (classlist.toString().indexOf("hideAutocomplete") - 1));
        }
    }
    function hideAutocomplete(elem) {
        document.getElementById(elem).classList = document.getElementById(elem).classList + " hideAutocomplete";
        console.log("hide");
    }

    var inputs = document.getElementsByTagName("input");
    for (var x = 0; x < inputs.length; x++) {
        inputs[x].addEventListener("keydown", function (e) {
            var key = e.keyCode;
            if (key === 13) {
                e.preventDefault();
            }
        });
        inputs[x].addEventListener("keyup", function (e) {
            var key = e.keyCode;
            if (key === 13) { e.preventDefault(); }
        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    label {
        padding-top: 0 !important;
    }
    .form-group{
        margin-bottom: 0;
    }
    .noPadding{
        padding:0;
    }
    .edgePadding{
        padding-left: 15px;
        padding-right: 15px;
    }


    .noBottomMargin div{
        padding-bottom: 0em !important;
    }
    .formBorderBlue{
        border-bottom: solid 4px powderblue;
    }
    .formBorderGreen{
        border-bottom: solid 4px #a9ef8c;
    }
    .formBorderRed{
        border-bottom: solid 4px #e69494;
    }
    .formBorderYellow{
        border-bottom: solid 4px #fffc9d;
    }
    #finishButton{
        display: inline;
        max-width: none !important;
        padding: .7em 5em .7em 5em;
        margin-left: 0px !important;
    }
    #createButton{
        display: inline;
        width: 94%;
        max-width: 100% !important;
    }
    #iconFont{
        font-family: FontAwesome;

    }
    .hideAutocomplete{
        opacity:1;
        color: black;
    }
    #customValidation{
        margin-top: -2em;
        position: relative;
        left: -8.5em;
    }
        .inputCompression{
        display:inline;
    }
    .inputCompression div{
        display:inline;
    }
    .btnCollapse{
        position: relative;
        bottom: -1px;
        padding:0px 2px 0px 2px;
        background: lightgreen;
    }
    .btnCollapse:hover,.btnCollapse:focus{
        color:black;
        background-color:rgba(144, 238, 144, 0.8);
    }
    .btnCollapse:focus{
        outline: none!important;
    }
     .collapseMenu{
    margin-left: -1em;
    display: block;
    text-align: center;
    max-width: 280px;
    background-color: lightgreen;
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid lightgrey;
    }
    .collapseMenu:hover{
        color:rgba(0, 0, 0, 0.83);
        text-decoration:none;
        background-color: rgba(144, 238, 144, 0.8);
    }
    .collapseBottom{
        border-top:1px solid lightgrey;
        height: 1em;
        background-color: lightgreen;
        margin-left: -1em;
        max-width: 280px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
</style>