@model skiShop.Models.Rental

@{
    ViewData["Title"] = "Create Rental";
    var security = false;
    if (ViewData["FormSecurity"] != null)
    {
        if (ViewData["FormSecurity"].ToString() == "Strict") { security = true; }
        else { security = false; }
    }
    else
    {
        security = false;
    }
}

@*<h2>Create</h2>*@
@*<span id="instructionsLink" style="z-index:1;">
    <a id="rentalInstructions" data-toggle="modal" href="#modal">Instructions</a>
</span>*@
<form asp-action="Create" autocomplete="off" id="createForm">
    @Html.ValidationSummary(true,"", new { @class = "text-danger" })
    <div class="form-horizontal">
        @*<h4>Rental</h4>*@
        <div class="radio text-center" style="padding-top:0px;margin-top:-15px">
            <label><input type="radio" name="formType" onclick="filterForm(0)" />All</label>
            <label><input type="radio" name="formType" onclick="filterForm(1)" />Ski</label>
            <label><input type="radio" name="formType" onclick="filterForm(2)" />Snowboard</label>
        </div>
        <div class="container">
            <div class="col-xs-4" id="contactInfoColumn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label formBorderYellow"></label>
                    <div>
                        <input asp-for="LastName" class="form-control" required/>
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label formBorderYellow"></label>
                    <div>
                        <input asp-for="FirstName" class="form-control" required/>
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label formBorderYellow"></label>
                    <button onclick="chevronSwap('phone');return false;" tabindex="-1" class="btn btn-sm btnCollapse" data-toggle="collapse" style="margin-left:10.4em;" data-target="#phoneCollapse" title="Add A Phone Number">Alt <i class="glyphicon glyphicon-chevron-down" id="phoneChevron"></i></button>
                    <div>
                        <input asp-for="PhoneNumber" class="form-control" oninput="PhoneValidation();" required/>
                        <span asp-validation-for="PhoneNumber" id="aspPhoneValidation" class="text-danger"></span>
                        <div id="customValidation2" class="text-danger" style="display:none;"></div>
                    </div>
                </div>
                <div class="collapse" id="phoneCollapse">
                    <div class="form-group" id="phoneNumber2Div">
                        <label asp-for="PhoneNumber2" class="control-label formBorderYellow"></label>
                        <div>
                            <input asp-for="PhoneNumber2" value="0" class="form-control" oninput="PhoneValidation();" required />
                            <span asp-validation-for="PhoneNumber2" id="aspPhoneValidation2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                        <div id="customValidation3" class="text-danger" style="margin-left:-1em;"></div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label formBorderYellow"></label>
                        <button onclick="chevronSwap('address');return false;" tabindex="-1" data-toggle="collapse" data-target="#localCollapse" style="margin-left:13.5em" class="btn btn-sm btnCollapse" title="Local Accommodations">L.A. <i class="glyphicon glyphicon-chevron-down" id="addressChevron"></i></button>
                    <div>
                        <input asp-for="Address" class="form-control" required/>
                        <span asp-validation-for="Address" class="text-danger" />
                    </div>
                </div>
                <div class="collapse" id="localCollapse">
                    <div class="form-group" id="localAccommodationsDiv">
                        <label asp-for="LocalAccommodations" class="control-label formBorderYellow"></label>
                        <div>
                            <input asp-for="LocalAccommodations" class="form-control" />
                            <span asp-validation-for="LocalAccommodations" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-4 noPadding gapFix">
                            <label asp-for="City" class="control-label formBorderYellow"></label>
                            <input asp-for="City" class="form-control cityInput" style="padding-bottom:3px;" oninput="CustomValidation();" required/>
                        </div>
                        <div class="col-xs-2 noPadding">
                            <label asp-for="State" class="control-label formBorderYellow"></label><br/>
                            <input asp-for="State" class="form-control" style="max-width:90px;" value="WA" oninput="CustomValidation();" required/>
                        </div>
                        <div class="col-xs-3 noPadding">
                            <label asp-for="PostalCode" class="control-label formBorderYellow"></label><br/>
                            <input asp-for="PostalCode" class="form-control" style="max-width:90px;" oninput="CustomValidation();" required/>
                        </div>
                    </div>
                    <div id="customValidation" class="text-danger"></div>
                </div>
                <div class="form-group autoCompleteFix">
                    <label asp-for="EmailAddress" class="control-label formBorderYellow" style="margin-left:-33%" id="emailLabel"></label>
                    <div>
                        <input asp-for="EmailAddress" class="form-control" required/>
                        <span asp-validation-for="EmailAddress" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-6 noPadding">
                            <label asp-for="Height" class="control-label formBorderYellow"></label>
                            <input asp-for="Height" class="form-control" required="@security" oninput="HeightWeightValidation();"/>
                        </div>
                         <div class="col-xs-6 noPadding" style="max-width:90px;">
                             <label asp-for="Weight" class="control-label formBorderYellow"></label>
                             <input asp-for="Weight" class="form-control" required="@security" oninput="HeightWeightValidation();" onblur="if(this.value==''){this.value=0;CreateSetValidation((@security.ToString().ToLower()));}"/>
                         </div>
                    </div>
                    <div id="customValidation4" class="text-danger"></div>
                        <span asp-validation-for="Height" class="text-danger" style="display:none;"/>
                        <span asp-validation-for="Weight" class="text-danger" style="display:none;"/>
                </div>
                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-6 noPadding">
                            <label asp-for="Sex" class="control-label formBorderYellow"></label>
                            <select asp-for="Sex" class="form-control">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col-xs-6 noPadding" style="max-width:90px;">
                            <label asp-for="Age" class="control-label formBorderYellow"></label>
                            <input asp-for="Age" class="form-control" value="0" required="@security" oninput="SexAgeValidation();" onblur="if(this.value==''){this.value=0;CreateSetValidation((@security.ToString().ToLower()));}"/>
                        </div>
                    </div>
                    <div class="text-danger" id="customValidation5"></div>
                        <span asp-validation-for="Sex" class="text-danger" style="display:none;"/>
                        <span asp-validation-for="Age" class="text-danger" style="display:none;"/>
                </div>
                @*<div class="form-group">
                    <p>Make this entry part of a set</p>
                    <input asp-for="IdSet" type="checkbox" class="checkbox" />
                </div>*@
            </div>
            <div class="col-xs-8">
                <div class="row" style="height:20em;">
                         <div class="col-xs-6" style="padding-top:19px;">
                             <div class="form-group" id="skierTypeDiv">
                                 <label asp-for="SkierType" class="control-label formBorderBlue"></label>
                                 <div style="margin-top:3px">
                                     <input type="radio" asp-for="SkierType" value="n/a" />None
                                     <input type="radio" asp-for="SkierType" value="1" style="margin-left:10px;"/>One
                                     <input type="radio" asp-for="SkierType" value="2" style="margin-left:10px;"/>Two
                                     <input type="radio" asp-for="SkierType" value="3" style="margin-left:10px;"/>Three
                                     <span asp-validation-for="SkierType" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group" id="skiBrandDiv">
                                 <label asp-for="SkiBrand" class="control-label formBorderBlue"></label>
                                 <label asp-for="SkiSize" class="control-label formBorderBlue" style="margin-left:7.8em;"></label><br/>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="SkiBrand" class="form-control skiComplete" id="skiBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="SkiBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="SkiSize" class="form-control" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="SkiSize" class="text-danger" />
                                 </div><br/>
                                 <div id="skiBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                             <div class="form-group" id="poleBrandDiv">
                                 <label asp-for="PoleBrand" class="control-label formBorderBlue"></label>
                                 <label asp-for="PoleSize" class="control-label formBorderBlue" style="margin-left:7.1em;"></label>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="PoleBrand" class="form-control skiComplete" id="poleBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="PoleBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="PoleSize" class="form-control" id="PoleSize" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="PoleSize" class="text-danger" />
                                 </div>
                                 <div id="poleBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                             <div class="form-group" id="boardBrandDiv">
                                 <label asp-for="BoardBrand" class="control-label formBorderRed"></label>
                                 <label asp-for="BoardSize" class="control-label formBorderRed" style="margin-left:6.4em;"></label>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="BoardBrand" class="form-control skiComplete" id="boardBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="BoardBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="BoardSize" class="form-control" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="BoardSize" class="text-danger" />
                                 </div>
                                 <div id="boardBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                                 <div class="form-group" id="boardStanceDiv">
                                     <label asp-for="BoardStance" class="control-label formBorderRed"></label>
                                     <div>
                                         <input asp-for="BoardStance" class="form-control" />
                                         <span asp-validation-for="BoardStance" class="text-danger" />
                                     </div>
                                 </div>
                                 <div class="form-group" id="stanceAnglesDiv" style="margin-top:7px;">
                                     <label asp-for="StanceAngles" class="control-label formBorderRed"></label>
                                     <div>
                                         <input asp-for="StanceAngles" class="form-control" />
                                         <span asp-validation-for="StanceAngles" class="text-danger" />
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label asp-for="DIN" class="control-label formBorderGreen"></label>
                                     <div>
                                         <input asp-for="DIN" class="form-control" />
                                         <span asp-validation-for="DIN" class="text-danger"></span>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label asp-for="InventoryNumber" class="control-label formBorderGreen"></label>
                                     <div>
                                         <input asp-for="InventoryNumber" class="form-control" />
                                         <span asp-validation-for="InventoryNumber" class="text-danger"></span>
                                     </div>
                                 </div>
                         </div>
                         <div class="col-xs-6">
                             <div class="form-group">
                                 <label asp-for="BindingBrand" class="control-label formBorderGreen"></label>
                                 <label asp-for="BindingSize" class="control-label formBorderGreen" style="margin-left:5.7em;"></label>
                                 <div class="noBottomMargin inputCompression">
                                     <input asp-for="BindingBrand" class="form-control skiComplete" id="bindingBrandInput" style="display:inline;width:12em;"/>
                                     <span asp-validation-for="BindingBrand" class="text-danger" />
                                 </div>
                                 <div class="inputCompression">
                                     <input asp-for="BindingSize" class="form-control" style="display:inline;width:6.5em;"/>
                                     <span asp-validation-for="BindingSize" class="text-danger" />
                                 </div>
                                 <div id="bindingBrandInputValidation" class="text-danger" name="LinkValidation"></div>
                             </div>
                             <div class="form-group" id="BootBrandDiv">
                                 <label asp-for="BootBrand" class="control-label formBorderGreen"></label>
                                 <div class="gapFix">
                                     <input asp-for="BootBrand" class="form-control skiComplete bBrand" />
                                     <span asp-validation-for="BootBrand" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group autoCompleteFix" id="BootSizeDiv">
                                 <label asp-for="BootSize" class="control-label formBorderGreen"></label>
                                 <div>
                                     <input asp-for="BootSize" class="form-control" />
                                     <span asp-validation-for="BootSize" class="text-danger" />
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label asp-for="BootSoleLength" class="control-label formBorderGreen"></label>
                                 <div>
                                     <input asp-for="BootSoleLength" class="form-control" />
                                     <span asp-validation-for="BootSoleLength" class="text-danger"></span>
                                 </div>
                             </div>
                             <div id="BootBrandValidation" class="text-danger" name="LinkValidation" style="margin-left:-1em;"></div>
                             <br/>
                             <a data-toggle="collapse" data-target="#custNotes" class="collapseMenu" onclick="chevronSwap('notes1','notes2');return false;">
                              <i class="glyphicon glyphicon-chevron-down" id="notes1Chevron"></i>Add Notes<i class="glyphicon glyphicon-chevron-down" id="notes2Chevron"></i></a>
                             <div class="collapse" id="custNotes">
                                 <div class="form-group">
                                     <label asp-for="CustomerNotes" class="control-label formBorderGreen"></label>
                                     <div>
                                         <textarea asp-for="CustomerNotes" class="form-control" style="max-width:280px;height:50px;">Notes</textarea>
                                         <span asp-validation-for="CustomerNotes" class="text-danger" />
                                     </div>
                                 </div>
                             </div>
                             <div class="collapseBottom"></div>
                                <div style="margin-top:.8em;">
                                    <input title="Create New Rental" type="submit" value="Done" class="btn btn-block btn-success btn-lg" id="createButton" style="margin-left:-1em;" onclick="CustomValidation(); PhoneValidation(); HeightWeightValidation(); SexAgeValidation();"/>
                                    <a title="Create New Rental Set" class="btn btn-block btn-info btn-lg" id="attatchLink" data-validated="false">Create Set <span id="iconFont">&#xf0c6;</span></a>
                                </div>
                             <div class="form-group" id="dailyRentalDiv" style="margin-top:1em;">
                                 <label asp-for="DailyRental" class="formBorderGreen" style="vertical-align:13px;"></label>
                                 <label asp-for="DueDate" class="formBorderGreen" style="vertical-align:13px;margin-left:9px;"></label><br/>
                                     <input asp-for="DailyRental" class="form-control dailyCheck" type="checkbox" style="width:38px;margin-left:1.5em;"/>
                                     <input asp-for="DueDate" class="form-control dailyDue" type="date"/>
                                     <span asp-validation-for="DailyRental" class="text-danger"></span>
                                    <span asp-validation-for="DueDate" class="text-danger"></span>
                             </div>
                         </div>

                </div>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
                @*<div width="50%" style="display:inline">
                    <a asp-action="Index">Back to List</a>
                </div>*@
    </div>
</form>
<a asp-action="Index">Back Rentals</a>
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center">Instructions</h1>
            </div>
            <div class="modal-body">
                <dl>
                    <dt style="margin-top:7px;">New <i class="glyphicon glyphicon-folder-open" style="color:blue"></i></dt>
                    <dd>
                        Fill this form out to add a new rental to the site. Make sure to fill out as much as you can, but it will work as long as you enter a value 
                        for the first/last name, and email address. <br />
                    </dd>
                    <dt style="margin-top:7px;"><input type="radio" />All <input type="radio" /> Ski <input type="radio" /> Snowboard</dt>
                    <dd>Click one of these at the top of the form to filter the amount of inputs on the screen. This is extremely helpful if you tab through the form.<br /></dd>
                    <dt style="margin-top:7px;">Tabbing Through The Form</dt>
                    <dd>If a input is selected (blue outline) you can press the <kbd>tab</kbd> key to move to the next input, or <kbd>shift</kbd>+<kbd>tab</kbd> to move to the last input.<br /></dd>
                    <dt style="margin-top:7px;">Autocomplete</dt>
                    <dd>Certain inputs such as City and Ski Brand have autocomplete functionality. When you start typing, it will offer suggestions as red text. You can scroll through the suggestions with the arrow keys and select one with the <kbd>enter</kbd> key.<br /></dd>
                    <dt style="margin-top:7px;">Customer Notes</dt>
                    <dd>Feel free to put any extra notes in the Customer Notes box about the equipment or customer. You can enlarge the text box by dragging and dropping its bottom-right corner.<br /></dd>
                    <dt style="margin-top:7px;">Done and Create Set</dt>
                    <dd>
                        If you are adding a singular Rental, click 'Done' when you are finished. If you are creating multiple Rental's possibly for a family or group going under a common name - You may want to click Create Set. Create Set lets you enter multiple rentals back to back
                        that are organized as a set for ease of viewing later. <br />
                    </dd>
                </dl>
            </div>
        </div>

    </div>
</div>
<form asp-action="create2" id="attatchForm" style="display:inline">
    @Html.HiddenFor(model => model.Address, new { @id = "_Address" })
    @Html.HiddenFor(model => model.Age, new { @id = "_Age" })
    @Html.HiddenFor(model => model.BindingBrand, new { @id = "_BindingBrand" })
    @Html.HiddenFor(model => model.BindingSize, new { @id = "_BindingSize" })
    @Html.HiddenFor(model => model.BoardBrand, new { @id = "_BoardBrand" })
    @Html.HiddenFor(model => model.BoardSize, new { @id = "_BoardSize" })
    @Html.HiddenFor(model => model.BoardStance, new { @id = "_BoardStance" })
    @Html.HiddenFor(model => model.BootBrand, new { @id = "_BootBrand" })
    @Html.HiddenFor(model => model.BootSize, new { @id = "_BootSize" })
    @Html.HiddenFor(model => model.City, new { @id = "_City" })
    @Html.HiddenFor(model => model.CustomerNotes, new { @id = "_CustomerNotes" })
    @Html.HiddenFor(model => model.DailyRental, new { @id = "_DailyRental" })
    @Html.HiddenFor(model => model.EmailAddress, new { @id = "_EmailAddress" })
    @Html.HiddenFor(model => model.FirstName, new { @id = "_FirstName" })
    @Html.HiddenFor(model => model.Height, new { @id = "_Height" })
    @Html.HiddenFor(model => model.ID, new { @id = "_ID" })
    @Html.HiddenFor(model => model.IdNext, new { @id = "_IdNext" })
    @Html.HiddenFor(model => model.IdPrevious, new { @id = "_IdPrevious" })
    @Html.HiddenFor(model => model.LastName, new { @id = "_LastName" })
    @Html.HiddenFor(model => model.LocalAccommodations, new { @id = "_LocalAccommodations" })
    @Html.HiddenFor(model => model.PhoneNumber, new {  @id = "_PhoneNumber" })
    @Html.HiddenFor(model => model.PhoneNumber2, new { @id = "_PhoneNumber2" })
    @Html.HiddenFor(model => model.PoleBrand, new { @id = "_PoleBrand" })
    @Html.HiddenFor(model => model.PoleSize, new { @id = "_PoleSize" })
    @Html.HiddenFor(model => model.PublicSubmission, new { @id = "_PublicSubmission" })
    @Html.HiddenFor(model => model.PostalCode, new { @id = "_PostalCode" })
    @Html.HiddenFor(model => model.Records, new { @id = "_Records" })
    @Html.HiddenFor(model => model.Returned, new { @id = "_Returned" })
    @Html.HiddenFor(model => model.Sex, new { @id = "_Sex" })
    @Html.HiddenFor(model => model.SkiBrand, new { @id = "_SkiBrand" })
    @Html.HiddenFor(model => model.SkierType, new { @id = "_SkierType" })
    @Html.HiddenFor(model => model.SkiSize, new { @id = "_SkiSize" })
    @Html.HiddenFor(model => model.StanceAngles, new { @id = "_StanceAngles" })
    @Html.HiddenFor(model => model.State, new { @id = "_State" })
    @Html.HiddenFor(model => model.Weight, new { @id = "_Weight" })
    @Html.HiddenFor(model => model.BootSoleLength, new { @id = "_BootSoleLength" })
    @Html.HiddenFor(model => model.DIN, new { @id = "_DIN" })
    @Html.HiddenFor(model => model.InventoryNumber, new { @id = "_InventoryNumber" })
<input type="button" title="Attatch Multiple" class="btn btn-block btn-info btn-lg" id="attatchButton" style="display:none;"/>
</form>
<script>
    document.getElementById("attatchLink").addEventListener("click", function () {
        if (document.getElementById("attatchLink").getAttribute("data-validated")=="true"){
            document.getElementById("_Address").value = document.getElementById("Address").value;
            document.getElementById("_Age").value = document.getElementById("Age").value;
            document.getElementById("_BindingBrand").value = document.getElementById("bindingBrandInput").value;
            document.getElementById("_BindingSize").value = document.getElementById("BindingSize").value;
            document.getElementById("_BoardBrand").value = document.getElementById("boardBrandInput").value;
            document.getElementById("_BoardSize").value = document.getElementById("BoardSize").value;
            document.getElementById("_BoardStance").value = document.getElementById("BoardStance").value;
            document.getElementById("_BootBrand").value = document.getElementById("BootBrand").value;
            document.getElementById("_BootSize").value = document.getElementById("BootSize").value;
            document.getElementById("_City").value = document.getElementById("City").value;
            document.getElementById("_CustomerNotes").value = document.getElementById("CustomerNotes").value;
            document.getElementById("_DailyRental").value = document.getElementById("DailyRental").checked;
            document.getElementById("_EmailAddress").value = document.getElementById("EmailAddress").value;
            document.getElementById("_FirstName").value = document.getElementById("FirstName").value;
            document.getElementById("_Height").value = document.getElementById("Height").value;
            document.getElementById("_ID").value = 0;
            //document.getElementById("_IdNext").value = document.getElementById("IdNext").value;
            //document.getElementById("_IdPrevious").value = document.getElementById("IdPrevious").value;
            document.getElementById("_LastName").value = document.getElementById("LastName").value;
            document.getElementById("_LocalAccommodations").value = document.getElementById("LocalAccommodations").value;
            document.getElementById("_PhoneNumber").value = parseInt(document.getElementById("PhoneNumber").value);
            document.getElementById("_PhoneNumber2").value = parseInt(document.getElementById("PhoneNumber2").value);
            document.getElementById("_PoleBrand").value = document.getElementById("poleBrandInput").value;
            document.getElementById("_PoleSize").value = document.getElementById("PoleSize").value;
            document.getElementById("_PostalCode").value = document.getElementById("PostalCode").value;
            //document.getElementById("_PublicSubmission").value = document.getElementById("PublicSubmission").value;
            //document.getElementById("_Records").value = document.getElementById("Records").value;
            //document.getElementById("_Returned").value = document.getElementById("Returned").value;
            document.getElementById("_Sex").value = document.getElementById("Sex").value;
            document.getElementById("_SkierType").value = document.getElementById("SkierType").value;
            document.getElementById("_SkiBrand").value = document.getElementById("skiBrandInput").value;
            document.getElementById("_SkiSize").value = document.getElementById("SkiSize").value;
            document.getElementById("_StanceAngles").value = document.getElementById("StanceAngles").value;
            document.getElementById("_State").value = document.getElementById("State").value;
            document.getElementById("_Weight").value = document.getElementById("Weight").value;
            document.getElementById("_DIN").value = document.getElementById("DIN").value;
            document.getElementById("_InventoryNumber").value = document.getElementById("InventoryNumber").value;
            document.getElementById("_BootSoleLength").value = document.getElementById("BootSoleLength").value;
            //ValidationCheck();
            return document.getElementById("attatchForm").submit();
        }
        else{
            return document.getElementById("createButton").click();
        }
    });


    // CustomValidation For City,State,PostalCode
    function CustomValidation (x) {
        var container = document.getElementById("customValidation");
        var label = document.getElementById("emailLabel")
        var errors = 0;
        if (document.getElementById("City").value == "") { errors++; }
        if (document.getElementById("State").value == "") { errors++; }
        if (document.getElementById("PostalCode").value == "") { errors++; }
        if (errors > 0) {
            container.innerHTML = "These fields are required.";
            label.setAttribute("style", "margin-left: -33%;padding-top:1.3em!important;")
        }
        else {
            container.innerHTML = "";
            label.setAttribute("style", "margin-left: -33%;")
        }
        if (x == true) { PhoneValidation();}
    }
    console.log("here");
    function PhoneValidation () {
        var container = document.getElementById("customValidation2");
        var container2 = document.getElementById("customValidation3")
        var patt = new RegExp("([A-z_.-])");
        var errors = 0;
        var errors2 = 0
        if (document.getElementById("PhoneNumber").value == "") { errors++; }
        if (document.getElementById("PhoneNumber2").value == "") { errors2++; }
        if (errors > 0) {
            container.innerHTML = "This field is required.";
        }
        else {
            var phone1 = patt.test(document.getElementById("PhoneNumber").value);
            if (phone1) { container.innerHTML = "This field should only have numbers."; }
            else { container.innerHTML = ""; }
        }
        if (errors2 > 0) {
            container2.innerHTML = "Alt Phone is required.";
        }
        else {
            var phone2 = patt.test(document.getElementById("PhoneNumber2").value);
            if (phone2) { container2.innerHTML = "This field should only have numbers."; }
            else { container2.innerHTML = ""; }
        }
    }

    function HeightWeightValidation() {
        if (@security.ToString().ToLower() == true){
            if (document.getElementById("Height").value == ""){
                document.getElementById("customValidation4").innerHTML = "These fields are required.";
                return false;
            }
            else{
                if (document.getElementById("Weight").value == ""){
                    document.getElementById("customValidation4").innerHTML = "These fields are required.";
                    return false;
                }
                else{
                    document.getElementById("customValidation4").innerHTML = "";
                }
            }
        }
    }

    function SexAgeValidation() {
        if (@security.ToString().ToLower() == true){
            if (document.getElementById("Sex").value == ""){
                document.getElementById("customValidation5").innerHTML = "These fields are required.";
                return false;
            }
            else{
                if (document.getElementById("Age").value == ""){
                    document.getElementById("customValidation5").innerHTML = "These fields are required.";
                    return false;
                }
                else{
                    document.getElementById("customValidation5").innerHTML = "";
                }
            }
        }
    }

    //Validation Check
    //Monitors the current security level and applies its rules to the javascript submit
    //Currently enforces the same restrictions that normal submit does, but is not configured to show the same error below the inputs
    @*function ValidationCheck() {
        var Security = @security.ToString().ToLower();
        var errors = [];
        var example = document.getElementById("_Weight").value;
        if (Security){
            if (document.getElementById("_Height").value == "") { errors.push("Height");}
            if (document.getElementById("_Weight").value == "") { errors.push("Weight");}
            if (document.getElementById("_Age").value == "") { errors.push("Age");}
        }
        if (document.getElementById("_FirstName").value == "") { errors.push("FirstName");}
        if (document.getElementById("_LastName").value == "") { errors.push("LastName");}
        if (document.getElementById("_Address").value == "") { errors.push("Address");}
        if (document.getElementById("_City").value == "") { errors.push("City");}
        if (document.getElementById("_State").value == "") { errors.push("State");}
        if (document.getElementById("_PostalCode").value == "") { errors.push("PostalCode");}
        if (document.getElementById("_PhoneNumber").value == "") { errors.push("PhoneNumber");}
        if (document.getElementById("_EmailAddress").value == "") { errors.push("EmailAddress");}
        if (errors.length==0){
            return document.getElementById("attatchForm").submit();
        }
        else{
            //document.getElementById("createForm").submit(function(e){ e.preventDefault;});
            return false;
        }
    }*@

    // Ski Size Measurement AutoComplete
    function maskInput(elem, mod) {
        console.log("elem: " + elem + " mod: " + mod);
        var old = document.getElementById(elem.toString());
        var oldValue = old.value;
        if (oldValue.indexOf(mod) == -1) {
            old.value = oldValue + mod;
            return;
        }
    }
    document.getElementById("PoleSize").addEventListener("blur", function () { maskInput("PoleSize", "in") });
    document.getElementById("BootSoleLength").addEventListener("blur", function () { maskInput("BootSoleLength", "mm") });
    document.getElementById("SkiSize").addEventListener("blur", function () { maskInput("SkiSize", "cm") });

    document.getElementById("City").addEventListener("blur", function () { hideAutocomplete("City") });
    document.getElementById("City").addEventListener("focus", function () { showAutocomplete("City") });

    document.getElementById("skiBrandInput").addEventListener("blur", function () { hideAutocomplete("skiBrandInput") });
    document.getElementById("skiBrandInput").addEventListener("focus", function () { showAutocomplete("skiBrandInput") });

    document.getElementById("BootBrand").addEventListener("blur", function () { hideAutocomplete("BootBrand") });
    document.getElementById("BootBrand").addEventListener("focus", function () { showAutocomplete("BootBrand") });

    document.getElementById("skiBrandInput").addEventListener("blur", function () { hideAutocomplete("skiBrandInput") });
    document.getElementById("skiBrandInput").addEventListener("focus", function () { showAutocomplete("skiBrandInput") });

    document.getElementById("bindingBrandInput").addEventListener("blur", function () { hideAutocomplete("bindingBrandInput") });
    document.getElementById("bindingBrandInput").addEventListener("focus", function () { showAutocomplete("bindingBrandInput") });

    document.getElementById("poleBrandInput").addEventListener("blur", function () { hideAutocomplete("poleBrandInput") });
    document.getElementById("poleBrandInput").addEventListener("focus", function () { showAutocomplete("poleBrandInput") });

    document.getElementById("boardBrandInput").addEventListener("blur", function () { hideAutocomplete("boardBrandInput") });
    document.getElementById("boardBrandInput").addEventListener("focus", function () { showAutocomplete("boardBrandInput") });

    document.getElementById("skiBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize'); }; });
    document.getElementById("skiBrandInput").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize'); }; });
    document.getElementById("skiBrandInput").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("SkiSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("SkiSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("SkiSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('skiBrandInput','SkiSize');}; });
    document.getElementById("poleBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("poleBrandInput").addEventListener("blur",function(){if(@security.ToString().ToLower()){  inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("poleBrandInput").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("PoleSize").addEventListener("focus",function(){if(@security.ToString().ToLower()){  inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("PoleSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("PoleSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('poleBrandInput','PoleSize');}; });
    document.getElementById("boardBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("boardBrandInput").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("boardBrandInput").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("BoardSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');}; });
    document.getElementById("BoardSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');} });
    document.getElementById("BoardSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('boardBrandInput','BoardSize');} });
    document.getElementById("bindingBrandInput").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');} });
    document.getElementById("bindingBrandInput").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("bindingBrandInput").addEventListener("input",function(){if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BindingSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BindingSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BindingSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('bindingBrandInput','BindingSize');}; });
    document.getElementById("BootBrand").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootBrand").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootBrand").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootSoleLength").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootSoleLength").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("BootSoleLength").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('BootBrand','BootSoleLength');}; });
    document.getElementById("createForm").addEventListener("input",function(){CreateSetValidation(@security.ToString().ToLower());})

    function showAutocomplete(elem) {
        //console.log("show");
        if (document.getElementById(elem).classList.toString().indexOf("hideAutocomplete") != -1) {
            var classlist = document.getElementById(elem).classList;
            document.getElementById(elem).classList = (document.getElementById(elem).classList.toString()).slice(0,(classlist.toString().indexOf("hideAutocomplete")-1));
        }
    }
    function hideAutocomplete(elem) {
        document.getElementById(elem).classList = document.getElementById(elem).classList + " hideAutocomplete";
        //console.log("hide");
    }

    // disable enter keys from submitting form
    var inputs = document.getElementsByTagName("input");
    for (var x = 0; x < inputs.length; x++) {
        inputs[x].addEventListener("keydown", function (e) {
            var key = e.keyCode;
            if (key === 13) {
                e.preventDefault();
            }
        });
        inputs[x].addEventListener("keyup", function (e) {
            var key = e.keyCode;
            if (key === 13) { e.preventDefault(); }
        });
    }

    // Code to disable button when the form is submitting so the user doesnt do it multiple times
    //document.getElementById("createForm").addEventListener(onsubmit, function () { alert('submit!'); })
    //    document.getElementById("createButton").disabled = true;
    // })
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    label {
        padding-top: 0 !important;
    }
    .form-group{
        margin-bottom: 0;
    }
    .noPadding{
        padding:0;
    }
    .edgePadding{
        padding-left: 15px;
        padding-right: 15px;
    }


    .noBottomMargin div{
        padding-bottom: 0em !important;
    }
    .formBorderBlue{
        border-bottom: solid 4px powderblue;
    }
    .formBorderGreen{
        border-bottom: solid 4px #a9ef8c;
    }
    .formBorderRed{
        border-bottom: solid 4px #e69494;
    }
    .formBorderYellow{
        border-bottom: solid 4px #fffc9d;
    }
    input[id="attatchButton"]{
        font-family: FontAwesome;
    }
    #attatchLink{
        padding: 18px;
        padding-left: 5vw;
        margin-left: -1em;
        padding-right: 4vw;
        width:280px;
    }
    #createButton{
        display: inline;
        min-width: 75%;
    }
    #iconFont{
        font-family: FontAwesome;

    }
    .cityInput{
        padding-bottom:11px !important
    }
    /*.gapFix div{
        padding-bottom: 0px !important;
    }*/
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    #instructionsLink{
      border: 1px solid lightblue;
      border-radius: 6px;
      position: relative;
      padding: 5px;
      left:1em;
    }
    .hideAutocomplete{
        opacity:1;
        color: black;
    }
    .errorDiv > span{
        display:block;
    }
    #customValidation{
        margin-top: -2em;
        position: relative;
        left: -8.2em;
    }
    .collapseMenu{
    margin-left: -1em;
    display: block;
    text-align: center;
    max-width: 280px;
    background-color: lightgreen;
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid lightgrey;
    }
    .collapseMenu:hover{
        color:rgba(0, 0, 0, 0.83);
        text-decoration:none;
        background-color: rgba(144, 238, 144, 0.8);
    }
    .collapseBottom{
        border-top:1px solid lightgrey;
        height: 1em;
        background-color: lightgreen;
        margin-left: -1em;
        max-width: 280px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    #skiBrandDiv > div{
        display:inline;
    }
    .inputCompression{
        display:inline;
    }
    .inputCompression div{
        display:inline;
    }
    .btnCollapse{
        position: relative;
        bottom: -1px;
        padding:0px 2px 0px 2px;
        background: lightgreen;
    }
    .btnCollapse:hover,.btnCollapse:focus{
        color:black;
        background-color:rgba(144, 238, 144, 0.8);
    }
    .btnCollapse:focus{
        outline: none!important;
    }
</style>
