@model skiShop.Models.Rental

@{
    ViewData["Title"] = "Delete Rental";
}
<div id="outerContainer">
    <h2 class="text-center">Whoa!</h2>

    <h3 class="text-center">Are you sure you want to delete the record for @Model.FirstName @Model.LastName?</h3>
    <div class="text-center" id="mainDiv">
        @*
            <h4>Rental</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BindingBrand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BindingBrand)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BindingSize)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BindingSize)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BoardBrand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BoardBrand)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BoardSize)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BoardSize)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BoardStance)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BoardStance)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerNotes)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CustomerNotes)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Height)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LocalAccommodations)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LocalAccommodations)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PoleBrand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PoleBrand)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PoleSize)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PoleSize)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Sex)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sex)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SkiBrand)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SkiBrand)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SkiSize)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SkiSize)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SkierType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SkierType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StanceAngles)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StanceAngles)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Weight)
                </dd>
            </dl>*@

        <form asp-action="Delete">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /><br /><br />
                <a asp-action="Index" class="btn-bracketed">Back to List</a>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var Capitalize = getCookie("Capitalize");
        var Largefont = getCookie("LargeFont");
        var Error = getCookie("Error");
        if (Capitalize == "True") { if (!$("#outerContainer").hasClass("CapitalizeAll")) { $("#outerContainer").addClass("CapitalizeAll"); } }
        else { $("#outerContainer").removeClass("CapitalizeAll"); }
        if (Largefont == "True") {
            if (!$("#outerContainer").hasClass("LargeFont")) { $("#outerContainer").addClass("LargeFont"); }
        }
        else { $("#outerContainer").removeClass("LargeFont"); }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        var delete_cookie = function (name) {
            document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        };
    });
</script>
<style>
    .LargeFont h2{
        font-size:2.5em;
    }
    .LargeFont h3{
        font-size:2em;
    }
    .LargeFont input[type="submit"]{
        font-size:1.5em;
    }
    .LargeFont #mainDiv{
        font-size:1.5em;
    }
    .CapitalizeAll h2{
        text-transform:uppercase;
    }
    .CapitalizeAll h3{
        text-transform:uppercase;
    }
    .CapitalizeAll input[type="submit"]{
        text-transform:uppercase;
    }
    .CapitalizeAll #mainDiv{
        text-transform:uppercase;
    }
</style>
