@model List<skiShop.Models.Rental>

@{
    ViewData["Title"] = "Rental Details";
}
<div id="toolbar" class="text-center rentalSetDiv printHide">
    <a asp-action="IndexWithSet" asp-route-id="@Model[0].ID"><span style="font-family:FontAwesome">&#xf002;</span> Search Set</a><br />
    <a asp-action="Create4" asp-route-id="@Model[0].ID"><span style="font-family:FontAwesome">&#xf055;</span> Add to Set</a><br />
    <a asp-action="ReturnSet" asp-route-id="@Model[0].ID"><i class="glyphicon glyphicon-sort-by-attributes"></i> Return Set</a><br />
    <a id="fakeDelete"><i class="glyphicon glyphicon-remove-circle" style="color:red;"></i> Delete Set</a><br />
    <a asp-action="DeleteSet" asp-route-id="@Model[0].ID" id="actualDelete" style="display:none;"></a>
</div>
@foreach(var _Model in Model)
{
<div class="rentalBody">
<h2 class="text-center" style="text-decoration:underline">@_Model.FirstName @_Model.LastName</h2>
<div class="text-center printHide">
    <a asp-action="Details" asp-route-id="@_Model.ID">Details</a> |
    <a asp-action="Edit" asp-route-id="@_Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@_Model.ID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div class="btn-group-xs" id="btnGrp">
    <button class="btn btn-info printHide" onclick="printRentalSet(true);"><span style="font-family:FontAwesome">&#xf02f;</span> Print</button>
</div>
<div class="row">
    <hr />
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <h4><span class="subHeading">Contact Info</span></h4>
        @_Model.EmailAddress<br/>
        @if (_Model.PhoneNumber != 0)
        {
        <span>Phone: @_Model.PhoneNumber</span><br/>
        }
        @if (_Model.PhoneNumber2 != 0)
        {
            <span>Alt Phone: @_Model.PhoneNumber2</span><br/>
        }
        @if (_Model.Address != null) { <span>@_Model.Address,</span> }
        @if (_Model.City != null) { <span>@_Model.City,</span> }
        @if (_Model.State != null) { <span>@_Model.State</span> }
        <br/>
        @if (_Model.LocalAccommodations != null) { <span>Local Accommodations: @_Model.LocalAccommodations</span><br/> }

        <h4><span class="subHeading">Personal Info</span></h4>
        @if (_Model.Age != 0) { <span>Age: @_Model.Age</span><br/>}
        @if (_Model.Height != "") { <span>Height: @_Model.Height</span> <br/>}
        @if (_Model.Sex != "") { <span>Sex: @_Model.Sex</span><br/>}
        @if (_Model.Weight != 0) { <span>Weight: @_Model.Weight</span><br/>}
    </div>
    <div class="col-xs-4">
        <h4><span class="subHeading">Rental Info</span></h4>
        <table class="table-responsive table-hover">
            @if (_Model.BoardBrand != null)
            {
                <tr>
                    <td class="tableLabel">
                        Board Brand
                    </td>
                    <td>
                        @_Model.BoardBrand
                    </td>
                </tr>
            }
            @if (_Model.BoardSize != null)
            {
                <tr>
                    <td class="tableLabel">
                        Board Size
                    </td>
                    <td>
                        @_Model.BoardSize
                    </td>
                </tr>
            }
            @if (_Model.BoardStance != null)
            {
                <tr>
                    <td class="tableLabel">
                        Board Stance
                    </td>
                    <td>
                        @_Model.BoardStance
                    </td>
                </tr>
            }
            @if (_Model.StanceAngles != null)
            {
                <tr>
                    <td class="tableLabel">
                        Stance Angles
                    </td>
                    <td>
                        @_Model.StanceAngles
                    </td>
                </tr>
            }
            @if (_Model.SkierType != null)
            {
                <tr>
                    <td class="tableLabel">
                    Skier Type                    
                    </td>
                    <td>
                        @_Model.SkierType
                    </td>
                </tr>
            }
            @if (_Model.SkiBrand != null)
            {
                <tr>
                    <td class="tableLabel">
                        Ski Brand
                    </td>
                    <td>
                        @_Model.SkiBrand
                    </td>
                </tr>
            }
            @if (_Model.SkiSize != null)
            {
                <tr>
                    <td class="tableLabel">
                        Ski Size
                    </td>
                    <td>
                        @_Model.SkiSize
                    </td>
                </tr>
            }
            @if (_Model.BindingBrand != null)
            {
                <tr>
                    <td class="tableLabel">
                        Binding Brand
                    </td>
                    <td>
                        @_Model.BindingBrand
                    </td>
                </tr>
            }
            @if (_Model.BindingSize != null)
            {
                <tr>
                    <td class="tableLabel">
                        Binding Size
                    </td>
                    <td>
                        @_Model.BindingSize
                    </td>
                </tr>
            }
            @if (_Model.PoleBrand != null)
            {
                <tr>
                    <td class="tableLabel">
                        Pole Brand
                    </td>
                    <td>
                        @_Model.PoleBrand
                    </td>
                </tr>
            }
            @if (_Model.PoleSize != null)
            {
                <tr>
                    <td class="tableLabel">
                        Pole Size
                    </td>
                    <td>
                        @_Model.PoleSize
                    </td>
                </tr>
            }
            @if (_Model.BootBrand != null)
            {
                <tr>
                    <td class="tableLabel">
                        Boot Brand
                    </td>
                    <td>
                        @_Model.BootBrand 
                    </td>
                </tr>
            }
            @if (_Model.BootSize != null)
            {
                <tr>
                    <td class="tableLabel">
                        Boot Size
                    </td>
                    <td>
                        @_Model.BootSize
                    </td>
                </tr>
            }
            @if (_Model.BootSoleLength != null)
            {
                <tr>
                     <td class="tableLabel">
                         Boot Sole Length
                     </td>
                    <td>
                        @_Model.BootSoleLength
                    </td>
                </tr>
            }
            @if (_Model.DIN != null)
            {
                <tr>
                    <td class="tableLabel">
                        DIN
                    </td>
                    <td>
                        @_Model.DIN
                    </td>
                </tr>
            }
            @if (_Model.InventoryNumber != null)
            {
                <tr>
                    <td class="tableLabel">
                        Inventory Number
                    </td>
                    <td>
                        @_Model.InventoryNumber
                    </td>
                </tr>
            }
            @if (_Model.DailyRental)
            {
                <tr>
                    <td class="tableLabel">
                        Daily Rental
                    </td>
                    <td>
                        @_Model.DailyRental
                    </td>
                </tr>
            }
            @if (_Model.DateCreated.ToString() != "00/00/0000 00:00")
            {
                <tr>
                    <td class="tableLabel">
                        Date Created                   
                    </td>
                    <td>
                        @_Model.DateCreated
                    </td>
                </tr>
            }
            @if (_Model.DueDate != null)
            {
                <tr>
                    <td class="tableLabel">
                        Due Date
                    </td>
                    <td>
                        @_Model.DueDate
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-2">

    </div>
</div>
    @if (_Model.CustomerNotes != null)
    {
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <h4 class="subHeading">Customer Notes</h4>
                <p>@_Model.CustomerNotes</p>
            </div>
            <div class="col-xs-2">
        
            </div>
        </div>
    }
    <hr />
    <div class="spacer"></div>
    </div>
}
<br/>

<script>
    document.getElementById("fakeDelete").addEventListener("click", function () {
        var alert = confirm("Are you sure you want to delete the entire set?");
        if (alert) { document.getElementById("actualDelete").click(); }
    });
</script>
<style>
    .bold{
        font-weight: bold;
    }
    .italic{
        font-style:italic;
    }
    .iconFont{
        font-family: FontAwesome;
    }
    .rentalSetDiv{
        font-size: 1.2em;
        background-color: lightyellow;
        width:auto;
        padding: 5px 10px 5px 10px;
        border: 1px solid yellow;
    }
    .subHeading{
        background-color: lightyellow;
    }
    .tableLabel{
        font-weight: bold;
        min-width: 10em;
    }
    #btnGrp{
        float: right;
        position: absolute;
        right: 8%;
        top: 5em;
    }
    #toolbar{
        position:fixed;
    }
</style>