@model skiShop.Models.Rental

@{
    ViewData["Title"] = "Rental Details";
}
@functions{
    public bool searchForValue(params string[] args)
    {
        foreach(var param in args)
        {
            if (param != null)
                return true;
        }
        return false;
    }
}
<div id="outerContainer">
<h2 class="text-center" style="text-decoration:underline">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
<div class="text-center printHide">
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a> |
    <a asp-action="RedirectToIndex">Back to List</a>
    @* asp-action="Index" *@
</div>
<div class="btn-group-xs" id="btnGrp">
    <button class="btn btn-warning printHide" onclick="location.href='@Url.Action("ReturnRental", "Rentals", new { id = Model.ID })'"><span style="font-family:FontAwesome">&#xf00c;</span> Return</button>
    <button class="btn btn-info printHide" onclick="printReport();"><span style="font-family:FontAwesome">&#xf02f;</span> Print</button>
</div>
<div class="row">
    <hr />
    <div class="col-xs-2"></div>
    <div id="center-column">
        <div class="col-lg-4" id="contact-column">
            <h4><span class="subHeading">Contact Info</span></h4>
            <span>@Html.DisplayFor(model => model.EmailAddress)</span><br />
            @if (Model.PhoneNumber != 0)
            {
                <span>Phone: @Html.DisplayFor(model => model.PhoneNumber)</span><br />
            }
            @if (Model.PhoneNumber2 != 0)
            {
                <span>Alt Phone: @Html.DisplayFor(model => model.PhoneNumber2)</span><br />
            }
            @if (Model.Address != null)
            { <span>@Html.DisplayFor(model => model.Address),</span> }
            @if (Model.City != null)
            { <span>@Html.DisplayFor(model => model.City),</span> }
            @if (Model.State != null)
            { <span>@Html.DisplayFor(model => model.State)</span> }
            @if (Model.PostalCode != null)
            { <span>@Html.DisplayFor(model => model.PostalCode)</span>}
            <br />
            @if (Model.LocalAccommodations != null)
            { <span>Local Accommodations: @Html.DisplayFor(model => model.LocalAccommodations)</span><br /> }

            <h4><span class="subHeading">Personal Info</span></h4>
            @if (Model.Age != 0)
            { <span>Age: @Html.DisplayFor(model => model.Age)</span><br />}
            @if (Model.Height != "0" && Model.Height != "")
            { <span>Height: @Html.DisplayFor(model => model.Height)</span> <br />}
            @if (Model.Sex != "")
            { <span>Sex: @Html.DisplayFor(model => model.Sex)</span><br />}
            @if (Model.Weight != 0)
            { <span>Weight: @Html.DisplayFor(model => model.Weight)@if (Model.IsMetric == true) { <span>kg.</span> } else { <span>lb.</span> }</span><br />}
        </div>
        <div class="col-lg-4" id="equipment-column">
            <h4><span class="subHeading">Rental Info</span></h4>
            <table class="table-responsive" id="equipment-table">
                @*Validate that there is a value for the snowboard section*@
                @if (@searchForValue(Model.BoardBrand, Model.BoardSize, Model.BoardStance, Model.SnowboardInventoryNumber, Model.StanceAngles, Model.SnowboardBindingBrand, Model.SnowboardBindingSize, Model.SnowboardBindingInventoryNumber)==true)
            {
            <tr class="snowboard-section">
                <td>
                    <img id="board-icon" src="~/images/boardlogo.jpg" /> <span class="bold">Snowboard</span>
                </td>
                <td></td>
            </tr>
            <tbody class="snowboard-section">
                @*Snowboard Section*@
                @if (Model.BoardBrand != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.BoardBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BoardBrand)
                        </td>
                    </tr>
                    }
                @if (Model.BoardSize != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.BoardSize)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BoardSize)
                        </td>
                    </tr>
                    }
                @if (Model.SnowboardInventoryNumber != null)
                    {
                    <tr>
                        <td class="tableLabel">
                                 Board Inventory Number
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SnowboardInventoryNumber)
                        </td>
                    </tr>
                    }
                @if (Model.BoardStance != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.BoardStance)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BoardStance)
                        </td>
                    </tr>
                    }
                @if (Model.StanceAngles != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.StanceAngles)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.StanceAngles)
                        </td>
                    </tr>
                    }
                @if (Model.SnowboardBindingBrand != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            Board Binding Brand
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SnowboardBindingBrand)
                        </td>
                    </tr>
                    }
                @if (Model.SnowboardBindingSize != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            Board Binding Size
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SnowboardBindingSize)
                        </td>
                    </tr>
                    }
                @if (Model.SnowboardBindingInventoryNumber != null)
                    {
                    <tr id="board-bottom">
                        <td class="tableLabel">
                            Board Binding Inventory Number
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SnowboardBindingInventoryNumber)
                        </td>
                    </tr>
                    }
                    @*Snowboard Section*@
                </tbody>
            }
                @if (@searchForValue(Model.SkierType, Model.SkiBrand, Model.SkiSize, Model.SkiInventoryNumber, Model.BindingBrand, Model.BindingSize, Model.SkiBindingInventoryNumber, Model.PoleBrand, Model.PoleSize, Model.PoleInventoryNumber) == true)
{
            <tr class="ski-section">
                <td>
                    <img id="ski-icon" src="~/images/skilogo.jpg" /> <span class="bold">Ski</span>
                </td>
                <td></td>
            </tr>
            <tbody class="ski-section">
                @*Ski Section*@
                @if (Model.SkierType != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.SkierType)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SkierType)
                        </td>
                    </tr>
                    }
                @if (Model.SkiBrand != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.SkiBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SkiBrand)
                        </td>
                    </tr>
                    }
                @if (Model.SkiSize != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @if (Model.SkiSize != null)
                                { @Html.DisplayNameFor(model => model.SkiSize) }
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SkiSize)
                        </td>
                    </tr>
                    }
                @if (Model.SkiInventoryNumber != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @if (Model.SkiInventoryNumber != null)
                                { @Html.DisplayNameFor(model => model.SkiInventoryNumber) }
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SkiInventoryNumber)
                        </td>
                    </tr>
                    }
                @if (Model.BindingBrand != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            Ski Binding Brand
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BindingBrand)
                        </td>
                    </tr>
                    }
                @if (Model.BindingSize != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            Ski Binding Size
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BindingSize)
                        </td>
                    </tr>
                    }
                @if (Model.SkiBindingInventoryNumber != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @if (Model.SkiBindingInventoryNumber != null)
                                { @Html.DisplayNameFor(model => model.SkiBindingInventoryNumber) }
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SkiBindingInventoryNumber)
                        </td>
                    </tr>
                    }
                @if (Model.PoleBrand != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.PoleBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.PoleBrand)
                        </td>
                    </tr>
                    }
                @if (Model.PoleSize != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.PoleSize)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.PoleSize)
                        </td>
                    </tr>
                    }
                @if (Model.PoleInventoryNumber != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @if (Model.PoleInventoryNumber != null)
                                { @Html.DisplayNameFor(model => model.PoleInventoryNumber) }
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.PoleInventoryNumber)
                        </td>
                    </tr>
                    }
            </tbody>
            @*Ski Section*@
                    }
                @if (@searchForValue(Model.BootBrand, Model.BootSize, Model.BootSoleLength, Model.BootsInventoryNumber) == true)
{
            <tr class="boots-section">
                <td>
                    <img id="boots-icon" src="~/images/boots-con.png"/> <span class="bold">Boot</span>
                </td>
                <td></td>
            </tr>
            <tbody class="boots-section">
                @if (Model.BootBrand != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.BootBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BootBrand)
                        </td>
                    </tr>
                    }
                @if (Model.BootSize != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.BootSize)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BootSize)
                        </td>
                    </tr>
                    }
                @if (Model.BootsInventoryNumber != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @if (Model.BootsInventoryNumber != null)
                                { @Html.DisplayNameFor(model => model.BootsInventoryNumber) }
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BootsInventoryNumber)
                        </td>
                    </tr>
                    }
                @if (Model.BootSoleLength != null)
                    {
                    <tr>
                        <td class="tableLabel">
                            @Html.DisplayNameFor(model => model.BootSoleLength)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.BootSoleLength)
                        </td>
                    </tr>
                    }
            </tbody>
}
                @if (Model.DIN != null)
                    {
            <tr>
                <td class="tableLabel">
                    @Html.DisplayNameFor(model => model.DIN)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DIN)
                </td>
            </tr>
                    }
                @if (Model.DailyRental)
                    {
            <tr>
                <td class="tableLabel">
                    @Html.DisplayNameFor(Model => Model.DailyRental)
                </td>
                <td>
                    @Model.DailyRental
                </td>
            </tr>
                    }
                @if (Model.DateCreated.ToString() != "00/00/0000 00:00")
                    {
            <tr>
                <td class="tableLabel">
                    Rental Created
                </td>
                <td>
                    @Model.DateCreated.ToLocalTime().ToString("dd/MM/yyyy hh:mm tt")
                </td>
            </tr>
                    }
                @if (Model.DueDate != null)
                    {
            <tr>
                <td class="tableLabel">
                    @Html.DisplayNameFor(Model => Model.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.DueDate)
                </td>
            </tr>
                    }

                <tr>
                    <td class="tableLabel">
                        @Html.DisplayNameFor(model => model.Returned)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Returned)
                    </td>
                </tr>
                @if (Model.PartialReturn != false)
                    {
                        var infos = Model.PartialReturnMessage.Split(' ');
                        for (var x = 0; x < infos.Length; x++)
                        {
                            if (infos[x].Contains("RT:"))
                            {
            <tr class="partReturn">
                <td class="tableLabel text-success">
                    Returned
                </td>
                <td></td>
            </tr>
                            }
                            if (infos[x].Contains("UR:"))
                            {
            <tr>
                <td class="tableLabel text-danger">
                    Unreturned
                </td>
                <td></td>
            </tr>
                            }
                            if (!infos[x].Contains("RT:") && !infos[x].Contains("UR:"))
                            {
            <tr>
                <td>@infos[x]</td>
                @if ((x + 1) < infos.Length)
                                    {
                                    <td>@infos[x + 1]</td>
                                    }
            </tr>
                                x++;
                            }
                        }
                    }
            </table>
        </div>
    </div>
    <div class="col-xs-2">

    </div>
</div>
@if (Model.CustomerNotes != null)
{
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h4 class="subHeading">Customer Notes</h4>
            <p>@Html.DisplayFor(model => model.CustomerNotes)</p>
        </div>
        <div class="col-xs-2">
    
        </div>
    </div>
}
<br/>
@if (Model.IdPrevious != null || Model.IdNext != null)
{
    <div class="text-center rentalSetDiv printHide">
        <h4 class="text-center subHeading">This Rental is part of a set!</h4>
        <a asp-action="DetailsWithSet" asp-route-id="@Model.ID" class="success"><span style="font-family:FontAwesome">&#xf0cb;</span> View Set</a><br />
        <a asp-action="IndexWithSet" asp-route-id="@Model.ID"><span style="font-family:FontAwesome">&#xf002;</span> Search Set</a><br/>
        <a asp-action="AddToSet" asp-route-id="@Model.ID"><span style="font-family:FontAwesome">&#xf055;</span> Add to Set</a><br/>
        <a asp-action="ReturnSet" asp-route-id="@Model.ID"><i class="glyphicon glyphicon-sort-by-attributes"></i> Return Set</a><br/>
        <a id="fakeDelete"><i class="glyphicon glyphicon-remove-circle" style="color:red;"></i> Delete Set</a><br/>
        <a asp-action="DeleteSet" asp-route-id="@Model.ID" id="actualDelete" style="display:none;"></a>
    </div>
}
else
{
    <div class="text-center rentalSetDiv printHide">
        <h4 class="text-center">This is a single Rental</h4>
        <a asp-action="ConvertToSet" asp-route-id="@Model.ID"><i class="glyphicon glyphicon-folder-open"></i> Make this a set</a>
    </div>
}
    <hr />
<div class="container">
    @if (Model.Records != null && Model.Records.Count > 0)
    {
        <h2 class="text-center">Records</h2><br/>
        @foreach (var record in Model.Records)
        {
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="record-column">
                    <div class="col-xs-4 record-personal">
                        <h4><span class="subHeading record-subheading">Personal Info</span></h4>
                        <span class="bold">@record.FullName</span> <br />
                        <span class="italic">@record.EmailAddress</span> <br />
                        @record.Address <br/>
                        @record.Phone <br />
                        @if (String.IsNullOrEmpty(record.LocalAccommodations) == false)
                        {@record.LocalAccommodations <br />}
                        @record.HeightWeight <br />
                        @record.AgeSex <br />
                    </div>
                    <div class="col-xs-4 record-equipment">
                        <h4><span class="subHeading record-subheading">Equipment Info</span></h4>
                        @if (@searchForValue(record.BoardBrand, record.BoardSize, record.SnowboardInventoryNumber, record.BoardStance, record.StanceAngles, record.SnowboardBindingBrand, record.SnowboardBindingSize, record.SnowboardBindingInventoryNumber)==true)
                        {
                            <div class="snowboard-section">
                                <img class="board-icon" src="~/images/boardlogo.jpg" /> <span class="bold">Snowboard</span><br />
                                @if (searchForValue(record.BoardBrand)) { @record.BoardBrand <br/> }
                                @if (searchForValue(record.BoardSize)) { @record.BoardSize<br /> }
                                @if (searchForValue(record.SnowboardInventoryNumber)) { @record.SnowboardInventoryNumber<br /> }
                                @if (searchForValue(record.BoardStance)) { @record.BoardStance<br /> }
                                @if (searchForValue(record.StanceAngles)) { @record.StanceAngles<br /> }
                                @if (searchForValue(record.SnowboardBindingBrand)) { @record.SnowboardBindingBrand<br /> }
                                @if (searchForValue(record.SnowboardBindingSize)) { @record.SnowboardBindingSize<br /> }
                                @if (searchForValue(record.SnowboardBindingInventoryNumber)) { @record.SnowboardBindingInventoryNumber<br /> }
                            </div>
                        }
                        @if (searchForValue(record.SkierType, record.SkiBrand, record.SkiSize, record.SkiInventoryNumber, record.PoleBrand, record.PoleSize, record.PoleInventoryNumber, record.BindingBrand, record.BindingSize, record.SkiBindingInventoryNumber)==true)
                        {
                            <div class="ski-section">
                                <img class="ski-icon" src="~/images/skilogo.jpg" /> <span class="bold">Ski</span><br/>
                                @if (searchForValue(record.SkierType)) { @record.SkierType <br />}
                                @if (searchForValue(record.SkiBrand)) { @record.SkiBrand <br />}
                                @if (searchForValue(record.SkiSize)) { @record.SkiSize <br />}
                                @if (searchForValue(record.SkiInventoryNumber)) { @record.SkiInventoryNumber <br />}
                                @if (searchForValue(record.PoleBrand)) { @record.PoleBrand <br />}
                                @if (searchForValue(record.PoleSize)) { @record.PoleSize <br />}
                                @if (searchForValue(record.PoleInventoryNumber)) { @record.PoleInventoryNumber <br />}
                                @if (searchForValue(record.BindingBrand)) { @record.BindingBrand <br />}
                                @if (searchForValue(record.BindingSize)) { @record.BindingSize <br />}
                                @if (searchForValue(record.SkiBindingInventoryNumber)) { @record.SkiBindingInventoryNumber <br />}
                            </div>
                        }
                        @if (searchForValue(record.BootBrand, record.BootSize, record.BootInventoryNumber, record.BootSoleLength)==true)
                        {
                            <div class="boots-section">
                                <img class="boots-icon" src="~/images/boots-con.png" /> <span class="bold">Boot</span><br />
                                @if (searchForValue(record.BootBrand)) { @record.BootBrand<br />}
                                @if (searchForValue(record.BootSize)) { @record.BootSize<br />}
                                @if (searchForValue(record.BootInventoryNumber)) { @record.BootInventoryNumber <br />}
                                @if (searchForValue(record.BootSoleLength)) { @record.BootSoleLength }
                            </div>
                        }
                        @if (String.IsNullOrEmpty(record.DIN)==false) { @record.DIN<br />}
                        <span>Returned: @record.Returned</span>
                    </div>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    @if (String.IsNullOrEmpty(record.CustomerNotes) == false)
                    {@record.CustomerNotes}
                    <br/>Filed at @record.LogTime
                </div>
                <div class="col-xs-2"></div>
            </div>
            <hr />
        }
    }
</div>
    @*End of Outer Container*@
</div>
<script>
    if (document.getElementById("fakeDelete") != null) {
        document.getElementById("fakeDelete").addEventListener("click", function () {
            var alert = confirm("Are you sure you want to delete the entire set?");
            if (alert) { document.getElementById("actualDelete").click(); }
        });
    }
    //On Document load, modify page to users specific settings
    document.addEventListener("DOMContentLoaded", function (event) {
        var Capitalize = getCookie("Capitalize");
        var Largefont = getCookie("LargeFont");
        var Error = getCookie("Error");
        if (Capitalize == "True") { if (!$("#outerContainer").hasClass("CapitalizeAll")) { $("#outerContainer").addClass("CapitalizeAll"); } }
        else { $("#outerContainer").removeClass("CapitalizeAll"); }
        if (Largefont == "True") {
            if (!$("#outerContainer").hasClass("LargeFont")) { $("#outerContainer").addClass("LargeFont"); }
            $("#contact-column").removeClass("col-lg-4");
            $("#equipment-column").removeClass("col-lg-4");
            $(".record-personal").removeClass("col-xs-4");
            $(".record-equipment").removeClass("col-xs-4");
            $("#center-column").addClass("col-lg-8");
            $(".record-column").addClass("col-lg-8");
        }
        else { $("#outerContainer").removeClass("LargeFont"); }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        var delete_cookie = function (name) {
            document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        };
    });
</script>
<style>
    .bold{
        font-weight: bold;
    }
    .italic{
        font-style:italic;
    }
    .iconFont{
        font-family: FontAwesome;
    }
    .rentalSetDiv{
        font-size: 1.2em;
        background-color: lightyellow;
        width:auto;
        padding: 5px;
        border: 1px solid yellow;
    }
    .subHeading{
        background-color: lightyellow;
    }
    .tableLabel{
        font-weight: bold;
        min-width: 10em;
    }
    .partReturn{
        border-top: 1px dotted grey;
        padding-top:10px;
    }
    #btnGrp{
        float: right;
        position: absolute;
        right: 8%;
        top: 5em;
    }
    /*User Settings*/
    .LargeFont p{
        font-size:1.5em;
    }
    .CapitalizeAll p{
        text-transform:uppercase;
    }
    .LargeFont H2{
        font-size:2.5em;
    }
    .CapitalizeAll h2{
        text-transform:uppercase;
    }
    .LargeFont H4{
        font-size:2em;
    }
    .CapitalizeAll h4{
        text-transform:uppercase;
    }
    .LargeFont a{
        font-size:1.5em;
    }
    .CapitalizeAll a{
        text-transform:uppercase;
    }
    .LargeFont button{
        font-size:1em!important;
    }
    .CapitalizeAll button{
        text-transform:uppercase;
    }
    .LargeFont select{
        font-size:1.5em;
        height: 55px;
    }
    .CapitalizeAll select{
        text-transform:uppercase;
    }
    .LargeFont input{
        font-size:1.5em;
        height: 55px;
    }
    .CapitalizeAll input{
        text-transform:uppercase;
    }
    .LargeFont span{
        font-size:1.5em;
    }
    .CapitalizeAll span{
        text-transform:uppercase;
    }
    .LargeFont tbody{
        font-size:1.5em;
    }
    .CapitalizeAll tbody{
        text-transform:uppercase;
    }
    .LargeFont input[type='checkbox']{
        margin-left:10px;
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
    .LargeFont img{
        margin-left:5px;
        margin-right:5px;
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        vertical-align:unset;
    }
    .LargeFont .record-personal{
        font-size:1.5em;
    }
    .CapitalizeAll .record-personal{
        text-transform:uppercase;
    }
    .LargeFont .record-equipment{
        font-size:1.5em;
    }
    .CapitalizeAll .record-equipment{
        text-transform:uppercase;
    }
    .LargeFont .record-subheading{
        font-size:1em;
    }
    .CapitalizeAll .record-subheading{
        text-transform:uppercase;
    }
    /*Equipment Groups Borders*/
    .snowboard-section{
        background: rgba(251, 245, 245, 0.35);
    }
    #board-icon,.board-icon{
        width:20px;
        height:20px;
    }
    .ski-section{
        width:100%;
        background: rgba(228, 251, 231, 0.35);
    }
    #ski-icon,.ski-icon{
        width:30px;
        height:30px;
    }
    .boots-section{
        background: rgba(233, 233, 249, 0.35);
    }
    #boots-icon,.boots-icon{
        background-color:white;
        width:20px;
        height:20px;
    }
    #equipment-table{
        width:100%;
    }
</style>