@model skiShop.Models.RentalViewModel

@{
    ViewData["Title"] = "Edit Rental";
    var security = false;
    if (ViewData["FormSecurity"] != null)
    {
        if (ViewData["FormSecurity"].ToString() == "Strict") { security = true; }
        else { security = false; }
    }
    else
    {
        security = false;
    }
}

@*<h2 class="text-center">@Model.Rental.FirstName @Model.Rental.LastName</h2>*@
@*<span id="instructionsLink" style="z-index:1;">
    <a id="rentalInstructions" data-toggle="modal" href="#modal">Instructions</a>
</span>*@<div style="height:7px;"></div>
<form asp-action="Edit" method="post">
    @Html.HiddenFor(r => r.Rental.ID)
    @Html.HiddenFor(t => t.RentalOld.ID)
    @Html.HiddenFor(t => t.RentalOld.FirstName)
    @Html.HiddenFor(t => t.RentalOld.LastName)
    @Html.HiddenFor(t => t.RentalOld.Address)
    @Html.HiddenFor(t => t.RentalOld.City)
    @Html.HiddenFor(t => t.RentalOld.State)
    @Html.HiddenFor(t => t.RentalOld.EmailAddress)
    @Html.HiddenFor(t => t.RentalOld.PhoneNumber)
    @Html.HiddenFor(t => t.RentalOld.PhoneNumber2)
    @Html.HiddenFor(t => t.RentalOld.LocalAccommodations)
    @Html.HiddenFor(t => t.RentalOld.Age)
    @Html.HiddenFor(t => t.RentalOld.Height)
    @Html.HiddenFor(t => t.RentalOld.Weight)
    @Html.HiddenFor(t => t.RentalOld.Sex)
    @Html.HiddenFor(t => t.RentalOld.SkierType)
    @Html.HiddenFor(t => t.RentalOld.SkiBrand)
    @Html.HiddenFor(t => t.RentalOld.SkiSize)
    @Html.HiddenFor(t => t.RentalOld.PoleBrand)
    @Html.HiddenFor(t => t.RentalOld.PoleSize)
    @Html.HiddenFor(t => t.RentalOld.BindingBrand)
    @Html.HiddenFor(t => t.RentalOld.BindingSize)
    @Html.HiddenFor(t => t.RentalOld.BoardBrand)
    @Html.HiddenFor(t => t.RentalOld.BoardSize)
    @Html.HiddenFor(t => t.RentalOld.BoardStance)
    @Html.HiddenFor(t => t.RentalOld.StanceAngles)
    @Html.HiddenFor(t => t.RentalOld.CustomerNotes)
    @Html.HiddenFor(t => t.RentalOld.BootSoleLength)
    @Html.HiddenFor(t => t.RentalOld.InventoryNumber)
    @Html.HiddenFor(t => t.RentalOld.DIN)
    @Html.HiddenFor(t => t.RentalOld.Returned)
    @Html.HiddenFor(t => t.RentalOld.SkiInventoryNumber)
    @Html.HiddenFor(t => t.RentalOld.PoleInventoryNumber)
    @Html.HiddenFor(t => t.RentalOld.SkiBindingInventoryNumber)
    @Html.HiddenFor(t => t.RentalOld.SnowboardBindingInventoryNumber)
    @Html.HiddenFor(t => t.RentalOld.SnowboardInventoryNumber)
    @Html.HiddenFor(t => t.RentalOld.BootsInventoryNumber)
    @Html.HiddenFor(t => t.RentalOld.BootSize)
    @Html.HiddenFor(t => t.RentalOld.BootBrand)
    @foreach (var record in Model.RentalOld.Records)
    {
        @Html.HiddenFor(r => record.Id)
        @Html.HiddenFor(t => record.FullName)
        @Html.HiddenFor(t => record.Address)
        @Html.HiddenFor(t => record.EmailAddress)
        @Html.HiddenFor(t => record.Phone)
        @Html.HiddenFor(t => record.LocalAccommodations)
        @Html.HiddenFor(t => record.AgeSex)
        @Html.HiddenFor(t => record.HeightWeight)
        @Html.HiddenFor(t => record.SkierType)
        @Html.HiddenFor(t => record.SkiBrand)
        @Html.HiddenFor(t => record.SkiSize)
        @Html.HiddenFor(t => record.PoleBrand)
        @Html.HiddenFor(t => record.PoleSize)
        @Html.HiddenFor(t => record.BindingBrand)
        @Html.HiddenFor(t => record.BindingSize)
        @Html.HiddenFor(t => record.BoardBrand)
        @Html.HiddenFor(t => record.BoardSize)
        @Html.HiddenFor(t => record.BoardStance)
        @Html.HiddenFor(t => record.StanceAngles)
        @Html.HiddenFor(t => record.BootSize)
        @Html.HiddenFor(t => record.BootBrand)
        @Html.HiddenFor(t => record.BootSoleLength)
        @Html.HiddenFor(t => record.DIN)
        @Html.HiddenFor(t => record.CustomerNotes)
        @Html.HiddenFor(t => record.Returned)
    }


    <div class="form-horizontal" style="margin-top:10px;">
        @*<h4>Rental</h4>*@
        @Html.HiddenFor(model => model.Rental.DateCreated)
        @Html.HiddenFor(model => model.Rental.IdNext)
        @Html.HiddenFor(model => model.Rental.IdPrevious)
        <div class="container">
            <div class="col-xs-4" id="contactInfoColumn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Rental.LastName" class="control-label formBorderYellow"></label>
                    <div>
                        <input asp-for="Rental.LastName" class="form-control" required />
                        <span asp-validation-for="Rental.LastName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Rental.FirstName" class="control-label formBorderYellow"></label>
                    <div>
                        <input asp-for="Rental.FirstName" class="form-control" required />
                        <span asp-validation-for="Rental.FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Rental.PhoneNumber" class="control-label formBorderYellow"></label>
                    <button onclick="chevronSwap('phone');return false;" tabindex="-1" class="btn btn-sm btnCollapse" data-toggle="collapse" style="margin-left:10.4em;" data-target="#phoneCollapse" title="Add A Phone Number">Alt <i class="glyphicon glyphicon-chevron-down" id="phoneChevron"></i></button>
                    <div>
                        <input asp-for="Rental.PhoneNumber" class="form-control" oninput="PhoneValidation();"/>
                        @*<span asp-validation-for="PhoneNumber" class="text-danger" />*@
                    </div>
                        <span asp-validation-for="Rental.PhoneNumber" class="text-danger" />
                </div>
                    @*<div id="customValidation2" class="text-danger" style="margin-left:-1em;"></div>*@
                <div class="collapse" id="phoneCollapse">
                    <div class="form-group" id="phoneNumber2Div">
                        <label asp-for="Rental.PhoneNumber2" class="control-label formBorderYellow"></label>
                        <div>
                            <input asp-for="Rental.PhoneNumber2" type="number" class="form-control" required oninput="PhoneValidation();"/>
                        </div>
                    </div>
                </div>
                        <span asp-validation-for="Rental.PhoneNumber2" class="text-danger" id="p2Span"></span>
                    <div id="customValidation3" class="text-danger" style="margin-left:-1em;"></div>
                <div class="form-group">
                    <label asp-for="Rental.Address" class="control-label formBorderYellow"></label>
                    <button onclick="chevronSwap('address');return false;" tabindex="-1" data-toggle="collapse" data-target="#localCollapse" style="margin-left:13.5em" class="btn btn-sm btnCollapse" title="Local Accommodations">L.A. <i class="glyphicon glyphicon-chevron-down" id="addressChevron"></i></button>
                    <div>
                        <input asp-for="Rental.Address" class="form-control" required/>
                        <span asp-validation-for="Rental.Address" class="text-danger" />
                    </div>
                </div>
                <div class="collapse" id="localCollapse">
                    <div class="form-group" id="localAccommodationsDiv">
                        <label asp-for="Rental.LocalAccommodations" class="control-label formBorderYellow"></label>
                        <div>
                            <input asp-for="Rental.LocalAccommodations" class="form-control" />
                            <span asp-validation-for="Rental.LocalAccommodations" class="text-danger" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-4 noPadding gapFix">
                            <label asp-for="Rental.City" class="control-label formBorderYellow"></label>
                            <input asp-for="Rental.City" class="form-control cityInput" style="padding-bottom:3px;" oninput="CustomValidation();" required/>
                        </div>
                        <div class="col-xs-2 noPadding">
                            <label asp-for="Rental.State" class="control-label formBorderYellow"></label><br />
                            <input asp-for="Rental.State" class="form-control" style="max-width:90px;" value="WA" oninput="CustomValidation();" required/>
                        </div>
                        <div class="col-xs-3 noPadding">
                            <label asp-for="Rental.PostalCode" class="control-label formBorderYellow"></label><br />
                            <input asp-for="Rental.PostalCode" class="form-control" style="max-width:90px;" oninput="CustomValidation();" required/>
                        </div>
                    </div>
                    @*<span asp-validation-for="Rental.City" class="text-danger" />
                    <span asp-validation-for="Rental.State" class="text-danger" />
                    <span asp-validation-for="Rental.PostalCode" class="text-danger" />*@
                    <div id="customValidation" class="text-danger"></div>
                </div>
                <div class="form-group" style="margin-top:5px;">
                    <label asp-for="Rental.EmailAddress" class="control-label formBorderYellow" id="emailLabel" style="margin-left:1px;"></label>
                    <div>
                        <input asp-for="Rental.EmailAddress" class="form-control" required />
                        <span asp-validation-for="Rental.EmailAddress" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-6 noPadding">
                            <label asp-for="Rental.Height" class="control-label formBorderYellow"></label>
                            <input asp-for="Rental.Height" class="form-control" oninput="HeightWeightValidation();" required="required"/>
                        </div>
                        <div class="col-xs-6 noPadding" style="max-width:90px;">
                            <label asp-for="Rental.Weight" class="control-label formBorderYellow"></label>
                            <input asp-for="Rental.Weight" class="form-control" required="required" oninput="HeightWeightValidation();"/>
                            @*was in the input above  ->   onblur="if(this.value==''){this.value=0;SexAgeValidation();}"*@
                        </div>
                    </div>
                    <div id="customValidation4" class="text-danger"></div>
                    @*<span asp-validation-for="Height" class="text-danger" />*@
                    <span asp-validation-for="Rental.Weight" class="text-danger" />
                </div>
                <div class="form-group">
                    <div class="row edgePadding">
                        <div class="col-xs-6 noPadding">
                            <label asp-for="Rental.Sex" class="control-label formBorderYellow"></label>
                            <select asp-for="Rental.Sex" class="form-control">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col-xs-6 noPadding" style="max-width:90px;">
                            <label asp-for="Rental.Age" class="control-label formBorderYellow"></label>
                            <input asp-for="Rental.Age" class="form-control" required="required" oninput="SexAgeValidation();" />
                            @*was in the input above ->         onblur="if(this.value==''){this.value=0;CreateSetValidation((@security.ToString().ToLower()));}"*@
                        </div>
                    </div>
                    @*<div class="text-danger" id="customValidation5"></div>*@
                    <span asp-validation-for="Rental.Sex" class="text-danger" />
                    <span asp-validation-for="Rental.Age" class="text-danger" />
                </div>
                @*<div class="form-group">
                    <div class="row" style="margin-left:5px;">
                        <div class="col-xs-4" style="margin-top:.5em;">
                            <label><input asp-for="Rental.Returned" type="checkbox" class="checkbox-inline form-control customBox" />Returned?</label>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="col-xs-8">
                <div class="row" style="height:20em;">
                    <div class="col-xs-6" style="padding-top:19px;">
                        <div class="form-group" id="skierTypeDiv">
                            <label asp-for="Rental.SkierType" class="control-label formBorderBlue"></label>
                            <div>
                                <div style="margin-top:3px">
                                    <input type="radio" asp-for="Rental.SkierType" value="n/a" />None
                                    <input type="radio" asp-for="Rental.SkierType" value="1" style="margin-left:10px;" />One
                                    <input type="radio" asp-for="Rental.SkierType" value="2" style="margin-left:10px;" />Two
                                    <input type="radio" asp-for="Rental.SkierType" value="3" style="margin-left:10px;" />Three
                                    <span asp-validation-for="Rental.SkierType" class="text-danger" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="skiBrandDiv">
                            <label asp-for="Rental.SkiBrand" class="control-label formBorderBlue"></label>
                            <label asp-for="Rental.SkiSize" class="control-label formBorderBlue" style="margin-left:7.8em;"></label>
                            <div class="noBottomMargin inputCompression">
                                <input id="Rental_SkiBrand" asp-for="Rental.SkiBrand" class="form-control skiComplete" style="display:inline;width:12em;" oninput="InventoryCheck(this.value,'Ski')"/>
                                <span asp-validation-for="Rental.SkiBrand" class="text-danger" />
                            </div>
                            <div class="inputCompression">
                                <input id="Rental_SkiSize" asp-for="Rental.SkiSize" class="form-control" style="display:inline;width:6.5em;" oninput="InventoryCheck(this.value,'Ski')"/>
                                <span asp-validation-for="Rental.SkiSize" class="text-danger" />
                            </div><br/>
                            <div id="Rental_SkiBrandValidation" class="text-danger" name="LinkValidation"></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rental.SkiInventoryNumber" class="control-label formBorderBlue"></label>
                            <div>
                                <input id="Rental_SkiInventory" asp-for="Rental.SkiInventoryNumber" class="form-control" oninput="InventoryCheck(this.value,'Ski')"/>
                                <span asp-validation-for="Rental.SkiInventoryNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" id="poleBrandDiv">
                            <label asp-for="Rental.PoleBrand" class="control-label formBorderBlue"></label>
                            <label asp-for="Rental.PoleSize" class="control-label formBorderBlue" style="margin-left:7.1em;"></label>
                            <div class="noBottomMargin inputCompression">
                                <input id="Rental_PoleBrand" asp-for="Rental.PoleBrand" class="form-control skiComplete" style="display:inline;width:12em;" oninput="InventoryCheck(this.value,'Pole')"/>
                                <span asp-validation-for="Rental.PoleBrand" class="text-danger" />
                            </div>
                            <div class="noBottomMargin inputCompression">
                                <input id="Rental_PoleSize" asp-for="Rental.PoleSize" class="form-control" style="display:inline;width:6.5em;" oninput="InventoryCheck(this.value,'Pole')"/>
                                <span asp-validation-for="Rental.PoleSize" class="text-danger" />
                            </div>
                            <div id="Rental_PoleBrandValidation" class="text-danger" name="LinkValidation"></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rental.PoleInventoryNumber" class="control-label formBorderBlue"></label>
                            <div>
                                <input id="Rental_PoleInventory" asp-for="Rental.PoleInventoryNumber" class="form-control" oninput="InventoryCheck(this.value,'Pole')"/>
                                <span asp-validation-for="Rental.PoleInventoryNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" id="boardBrandDiv">
                            <label asp-for="Rental.BoardBrand" class="control-label formBorderRed"></label>
                            <label asp-for="Rental.BoardSize" class="control-label formBorderRed" style="margin-left:6.4em;"></label>
                            <div class="noBottomMargin inputCompression">
                                <input id="Rental_BoardBrand" asp-for="Rental.BoardBrand" class="form-control skiComplete" style="display:inline;width:12em;" oninput="InventoryCheck(this.value,'Board')"/>
                                <span asp-validation-for="Rental.BoardBrand" class="text-danger" />
                            </div>
                            <div class="inputCompression">
                                <input id="Rental_BoardSize" asp-for="Rental.BoardSize" class="form-control" style="display:inline;width:6.5em;" oninput="InventoryCheck(this.value,'Board')"/>
                                <span asp-validation-for="Rental.BoardSize" class="text-danger" />
                            </div>
                            <div id="Rental_BoardBrandValidation" class="text-danger" name="LinkValidation"></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rental.SnowboardInventoryNumber" class="control-label formBorderRed"></label>
                            <div>
                                <input id="Rental_BoardInventory" asp-for="Rental.SnowboardInventoryNumber" class="form-control" oninput="InventoryCheck(this.value,'Board')"/>
                                <span asp-validation-for="Rental.SnowboardInventoryNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" id="boardStanceDiv">
                            <label asp-for="Rental.BoardStance" class="control-label formBorderRed"></label>
                            <div>
                                <input asp-for="Rental.BoardStance" class="form-control" />
                                <span asp-validation-for="Rental.BoardStance" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group" id="stanceAnglesDiv" style="margin-top:7px;">
                            <label asp-for="Rental.StanceAngles" class="control-label formBorderRed"></label>
                            <div>
                                <input asp-for="Rental.StanceAngles" class="form-control" />
                                <span asp-validation-for="Rental.StanceAngles" class="text-danger" />
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="Rental.DIN" class="control-label formBorderGreen"></label>
                            <div>
                                <input asp-for="Rental.DIN" class="form-control" />
                                <span asp-validation-for="Rental.DIN" class="text-danger"></span>
                            </div>
                        </div>*@
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label formBorderGreen">Ski Binding Brand</label>
                            <label asp-for="Rental.BindingSize" class="control-label formBorderGreen" style="margin-left:4.3em;"></label>
                            <div class="noBottomMargin inputCompression">
                                <input id="Rental_BindingBrand" asp-for="Rental.BindingBrand" class="form-control skiComplete" style="display:inline;width:12em;" oninput="InventoryCheck(this.value,'Binding')"/>
                                <span asp-validation-for="Rental.BindingBrand" class="text-danger" />
                            </div>
                            <div class="inputCompression">
                                <input id="Rental_BindingSize" asp-for="Rental.BindingSize" class="form-control" style="display:inline;width:6.5em;" oninput="InventoryCheck(this.value,'Binding')"/>
                                <span asp-validation-for="Rental.BindingSize" class="text-danger" />
                            </div>
                            <div id="Rental_BindingBrandValidation" class="text-danger" name="LinkValidation"></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rental.SkiBindingInventoryNumber" class="control-label formBorderGreen"></label>
                            <div>
                                <input id="Rental_BindingInventory" asp-for="Rental.SkiBindingInventoryNumber" class="form-control" oninput="InventoryCheck(this.value,'Binding')"/>
                                <span asp-validation-for="Rental.SkiBindingInventoryNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label formBorderGreen">Board Binding Brand</label>
                            <label asp-for="Rental.BindingSize" class="control-label formBorderGreen" style="margin-left:2.9em;"></label>
                            <div class="noBottomMargin inputCompression">
                                <input id="Rental_BoardBindingBrand" asp-for="Rental.SnowboardBindingBrand" class="form-control skiComplete" style="display:inline;width:12em;" oninput="InventoryCheck(this.value,'BoardBinding')"/>
                                <span asp-validation-for="Rental.SnowboardBindingBrand" class="text-danger" />
                            </div>
                            <div class="inputCompression">
                                <input id="Rental_BoardBindingSize" asp-for="Rental.SnowboardBindingSize" class="form-control" style="display:inline;width:6.5em;" oninput="InventoryCheck(this.value,'BoardBinding')"/>
                                <span asp-validation-for="Rental.SnowboardBindingSize" class="text-danger" />
                            </div>
                            <div id="Rental_BindingBrandValidation" class="text-danger" name="LinkValidation"></div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rental.SnowboardBindingInventoryNumber" class="control-label formBorderGreen"></label>
                            <div>
                                <input id="Rental_BoardBindingInventory" asp-for="Rental.SnowboardBindingInventoryNumber" class="form-control" oninput="InventoryCheck(this.value,'BoardBinding')"/>
                                <span asp-validation-for="Rental.SnowboardBindingInventoryNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" id="BootBrandDiv">
                            <label asp-for="Rental.BootBrand" class="control-label formBorderGreen"></label>
                            <div class="gapFix">
                                <input id="Rental_BootBrand" asp-for="Rental.BootBrand" class="form-control skiComplete boot_brand" oninput="InventoryCheck(this.value,'Boot')"/>
                                <span asp-validation-for="Rental.BootBrand" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group" id="BootSizeDiv" style="margin-top:5px;">
                            <label asp-for="Rental.BootSize" class="control-label formBorderGreen"></label>
                            <div>
                                <input id="Rental_BootSize" asp-for="Rental.BootSize" class="form-control" oninput="InventoryCheck(this.value,'Boot')"/>
                                <span asp-validation-for="Rental.BootSize" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label formBorderGreen">Boot Inventory Number</label>
                            <div>
                                <input id="Rental_BootInventory" asp-for="Rental.BootsInventoryNumber" class="form-control" oninput="InventoryCheck(this.value,'Boot')"/>
                                <span asp-validation-for="Rental.BootsInventoryNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rental.BootSoleLength" class="control-label formBorderGreen"></label>
                            <div>
                                <input asp-for="Rental.BootSoleLength" class="form-control" />
                                <span asp-validation-for="Rental.BootSoleLength" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="Rental_BootBrandValidation" class="text-danger" name="LinkValidation" style="margin-left:-1em;"></div>
                        <br/>
                        <a data-toggle="collapse" data-target="#custNotes" class="collapseMenu" onclick="chevronSwap('notes1','notes2');return false;">
                            <i class="glyphicon glyphicon-chevron-down" id="notes1Chevron"></i>Add Notes<i class="glyphicon glyphicon-chevron-down" id="notes2Chevron"></i>
                        </a>
                        <div class="collapse" id="custNotes">
                            <div class="form-group">
                                <label asp-for="Rental.CustomerNotes" class="control-label formBorderGreen"></label>
                                <div>
                                    <textarea asp-for="Rental.CustomerNotes" class="form-control" style="max-width:280px;height:50px;">Notes</textarea>
                                    <span asp-validation-for="Rental.CustomerNotes" class="text-danger" />
                                </div>
                            </div>
                        </div>
                        <div class="collapseBottom"></div>
                        <div style="margin-top:.5em;">
                            <label style="margin-left:2.5em;margin-bottom:0px;"><input asp-for="Save" type="checkbox" class="checkbox-inline form-control customBox" /> Save this as a Record</label>
                        </div>
                        <div style="margin-top:.8em;">
                            <input type="submit" value="Done" class="btn btn-block btn-success btn-lg" style="margin-left:-14px;" id="createButton" />
                        </div>
                        <div class="form-group" id="dailyRentalDiv" style="margin-top:1em;">
                            <label asp-for="Rental.DailyRental" class="formBorderGreen" style="vertical-align:13px;"></label>
                            <label asp-for="Rental.DueDate" class="formBorderGreen" style="vertical-align:13px;margin-left:9px;"></label><br />
                            <input asp-for="Rental.DailyRental" class="form-control dailyCheck" type="checkbox" style="width:38px;margin-left:1.5em;" />
                            <input asp-for="Rental.DueDate" class="form-control dailyDue" type="date" />
                            <span asp-validation-for="Rental.DailyRental" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        @*<div width="50%" style="display:inline">
                <a asp-action="Index">Back to List</a>
            </div>*@
    </div>
    @foreach (var record in Model.Rental.Records)
    {

        @Html.HiddenFor(r => r.Rental.Records)

    }
</form>

<div style="margin-top:5px;margin-left:2em">
    <a asp-action="RedirectToIndex">Back to List</a>
</div>
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center">Instructions</h1>
            </div>
            <div class="modal-body">
                <dl>
                    <dt style="margin-top:7px;">Edit Form</dt>
                    <dd>This form is identicle to the create form except the two checkboxes "Returned?" and "Save Record?" on the bottom left.</dd>
                    <dt>Returned</dt>
                    <dd>Check this box to mark that this rental has been returned. Make sure to click save afterword to save this change.</dd>
                    <dt>Save Record</dt>
                    <dd>Check this box if you are updating an old Rental to contain new information, contact or equipment related, and you would like to save the old information as a record. 
                    When you save it, the old details will be saved into the Record section of the Rentals "Details" page.</dd>
                </dl>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    //
    function CustomValidation (x) {
        var container = document.getElementById("customValidation");
        var label = document.getElementById("emailLabel")
        var errors = 0;
        if (document.getElementById("Rental_City").value == "") { errors++; }
        if (document.getElementById("Rental_State").value == "") { errors++; }
        if (document.getElementById("Rental_PostalCode").value == "") { errors++; }
        if (errors > 0) {
            container.innerHTML = "These fields are required.";
            label.setAttribute("style", "padding-top:0em!important;")
        }
        else {
            container.innerHTML = "";
            label.setAttribute("style", "")
        }
        if (x == true) { PhoneValidation();}
    }
    console.log("here");
    function PhoneValidation () {
        var container = document.getElementById("customValidation2");
        var container2 = document.getElementById("customValidation3")
        var patt = new RegExp("([A-z_.-])");
        var errors = 0;
        var errors2 = 0
        if (document.getElementById("Rental_PhoneNumber").value == "") { errors++; }
        if (document.getElementById("Rental_PhoneNumber2").value == "") { errors2++; }
        if (errors > 0) {
            container.innerHTML = "This field is required.";
        }
        //else {
        //    var phone1 = patt.test(document.getElementById("Rental_PhoneNumber").value);
        //    if (phone1) { container.innerHTML = "This field should only have numbers."; }
        //    else { container.innerHTML = ""; }
        //}
        //if (errors2 > 0) {
        //    container2.innerHTML = "Alt Phone is required.";
        //}
        //else {
        //    var phone2 = patt.test(document.getElementById("PhoneNumber2").value);
        //    if (phone2) { container2.innerHTML = "This field should only have numbers."; }
        //    else { container2.innerHTML = ""; }
        //}
    }

    function HeightWeightValidation() {
       if (document.getElementById("Rental_Height").value == ""){
           document.getElementById("customValidation4").innerHTML = "These fields are required.";
           return false;
       }
       else{
           if (document.getElementById("Rental_Weight").value == ""){
               document.getElementById("customValidation4").innerHTML = "These fields are required.";
               return false;
           }
           else{
               document.getElementById("customValidation4").innerHTML = "";
           }
       }
    }

    function SexAgeValidation() {
        if (@security.ToString().ToLower() == true){
            if (document.getElementById("Rental_Sex").value == ""){
                document.getElementById("customValidation5").innerHTML = "These fields are required.";
                return false;
            }
            else{
                if (document.getElementById("Rental_Age").value == ""){
                    document.getElementById("customValidation5").innerHTML = "These fields are required.";
                    return false;
                }
                else{
                    document.getElementById("customValidation5").innerHTML = "";
                }
            }
        }
    }

    document.getElementById("Rental_SkiBrand").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_SkiBrand','Rental_SkiSize'); }; });
    document.getElementById("Rental_SkiBrand").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_SkiBrand','Rental_SkiSize'); }; });
    document.getElementById("Rental_SkiBrand").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_SkiBrand','Rental_SkiSize');}; });
    document.getElementById("Rental_SkiSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_SkiBrand','Rental_SkiSize');}; });
    document.getElementById("Rental_SkiSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_SkiBrand','Rental_SkiSize');}; });
    document.getElementById("Rental_SkiSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_SkiBrand','Rental_SkiSize');}; });
    document.getElementById("Rental_PoleBrand").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_PoleBrand','Rental_PoleSize');}; });
    document.getElementById("Rental_PoleBrand").addEventListener("blur",function(){if(@security.ToString().ToLower()){  inputLinkValidation('Rental_PoleBrand','Rental_PoleSize');}; });
    document.getElementById("Rental_PoleBrand").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_PoleBrand','Rental_PoleSize');}; });
    document.getElementById("Rental_PoleSize").addEventListener("focus",function(){if(@security.ToString().ToLower()){  inputLinkValidation('Rental_PoleBrand','Rental_PoleSize');}; });
    document.getElementById("Rental_PoleSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_PoleBrand','Rental_PoleSize');}; });
    document.getElementById("Rental_PoleSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_PoleBrand','Rental_PoleSize');}; });
    document.getElementById("Rental_BoardBrand").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BoardBrand','Rental_BoardSize');}; });
    document.getElementById("Rental_BoardBrand").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BoardBrand','Rental_BoardSize');}; });
    document.getElementById("Rental_BoardBrand").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BoardBrand','Rental_BoardSize');}; });
    document.getElementById("Rental_BoardSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BoardBrand','Rental_BoardSize');}; });
    document.getElementById("Rental_BoardSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BoardBrand','Rental_BoardSize');} });
    document.getElementById("Rental_BoardSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BoardBrand','Rental_BoardSize');} });
    document.getElementById("Rental_BindingBrand").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BindingBrand','Rental_BindingSize');} });
    document.getElementById("Rental_BindingBrand").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BindingBrand','Rental_BindingSize');}; });
    document.getElementById("Rental_BindingBrand").addEventListener("input",function(){if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BindingBrand','Rental_BindingSize');}; });
    document.getElementById("Rental_BindingSize").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BindingBrand','Rental_BindingSize');}; });
    document.getElementById("Rental_BindingSize").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BindingBrand','Rental_BindingSize');}; });
    document.getElementById("Rental_BindingSize").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BindingBrand','Rental_BindingSize');}; });
    document.getElementById("Rental_BootBrand").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BootBrand','Rental_BootSoleLength');}; });
    document.getElementById("Rental_BootBrand").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BootBrand','Rental_BootSoleLength');}; });
    document.getElementById("Rental_BootBrand").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BootBrand','Rental_BootSoleLength');}; });
    document.getElementById("Rental_BootSoleLength").addEventListener("focus",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BootBrand','Rental_BootSoleLength');}; });
    document.getElementById("Rental_BootSoleLength").addEventListener("blur",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BootBrand','Rental_BootSoleLength');}; });
    document.getElementById("Rental_BootSoleLength").addEventListener("input",function(){ if(@security.ToString().ToLower()){ inputLinkValidation('Rental_BootBrand','Rental_BootSoleLength');}; });


    // Ski Size Measurement AutoComplete
    function maskInput(elem, mod) {
        console.log("elem: " + elem + " mod: " + mod);
        var old = document.getElementById(elem.toString());
        var oldValue = old.value;
        if (oldValue.indexOf(mod) == -1) {
            if (old.value != ""){
                old.value = oldValue + mod;
                return;
            }
        }
    }
    document.getElementById("Rental_PoleSize").addEventListener("blur", function () { maskInput("Rental_PoleSize", "in") });
    document.getElementById("Rental_BootSize").addEventListener("blur", function () { maskInput("Rental_BootSize", "mm") });
    document.getElementById("Rental_SkiSize").addEventListener("blur", function () { maskInput("Rental_SkiSize", "cm") });
    //SexAgeValidation();
    HeightWeightValidation();
    PhoneValidation();
    CustomValidation();
</script>
<script>
    function InventoryCheck(value, type){
        console.log("asdf");
        let size = document.getElementById("Rental_" + type + "Size").value;
        let brand = document.getElementById("Rental_" + type + "Brand").value;
        let inventory = document.getElementById("Rental_" + type + "Inventory").value;
        if (size!=""||brand!=""||inventory!=""){
            document.getElementById("Rental_" + type + "Inventory").setAttribute("required","required");
        }
        else{
            document.getElementById("Rental_" + type + "Inventory").removeAttribute("required");
        }
    }
</script>
        @*<div class="form-group">
            <label asp-for="Rental.Returned" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rental.Returned" type="checkbox" class="form-control" />
                <span asp-validation-for="Rental.Weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label>Save Record?</label>
            <div class="col-md-offset-2 col-md-10">
                <input asp-for="Save" type="checkbox" class="checkbox form-control" />
            </div>
        </div>*@
<style>
    label {
        padding-top: 0 !important;
    }

    .form-group {
        margin-bottom: 0;
    }

    .noPadding {
        padding: 0;
    }

    .edgePadding {
        padding-left: 15px;
        padding-right: 15px;
    }
    .customBox{
        width: 1.5em;
        height: 1.5em;
    }
    .noBottomMargin div{
        padding-bottom: 0em !important;
    }
    .formBorderBlue{
        border-bottom: solid 4px powderblue;
    }
    .formBorderGreen{
        border-bottom: solid 4px #a9ef8c;
    }
    .formBorderRed{
        border-bottom: solid 4px #e69494;
    }
    .formBorderYellow{
        border-bottom: solid 4px #fffc9d;
    }
    input[id="attatchButton"]{
        font-family: FontAwesome;
    }
    #attatchLink{
        display: inline;
        padding: 12px;
        padding-left: 5vw;
        margin-left: 0px;
        padding-right: 4vw;
    }
    #createButton{
        display: inline;
    min-width: 75%;
    }
    #iconFont{
        font-family: FontAwesome;

    }
    .cityInput{
        padding-bottom:11px !important
    }
    .gapFix div{
        padding-bottom: 0px !important;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    #instructionsLink{
      border: 1px solid lightblue;
      border-radius: 6px;
      position: relative;
      padding: 5px;
      left:1em;
    }
    #customValidation{
        position: relative;
    }
    #p2Span span{
        margin-left:-1em;
    }
    .collapseMenu{
    margin-left: -1em;
    display: block;
    text-align: center;
    max-width: 280px;
    background-color: lightgreen;
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid lightgrey;
    }
    .collapseMenu:hover{
        color:rgba(0, 0, 0, 0.83);
        text-decoration:none;
        background-color: rgba(144, 238, 144, 0.8);
    }
    .collapseBottom {
        border-top: 1px solid lightgrey;
        height: 1em;
        background-color: lightgreen;
        margin-left: -1em;
        max-width: 280px;
        border-bottom-left-radius: 6px;
    }
    .btnCollapse{
        position: relative;
        bottom: -1px;
        padding:0px 2px 0px 2px;
        background: lightgreen;
    }
    .btnCollapse:hover,.btnCollapse:focus{
        color:black;
        background-color:rgba(144, 238, 144, 0.8);
    }
    .btnCollapse:focus{
        outline: none!important;
    }
    .inputCompression{
        display:inline;
    }
    .inputCompression div{
        display:inline;
    }
</style>