@model PaginatedList<skiShop.Models.Rental>

@{
    ViewData["Title"] = "Rentals";
    if (ViewData["CurrentFilter"] == null) { ViewData["CurrentFilter"] = ""; }
}
<div id="outerContainer">
<h2 class="text-center">Rental Logistics</h2>
<form asp-controller="Rentals" asp-action="Index" style="display:inline;" id="searchForm">
    @*<span id="instructionsLink">
        <a id="rentalInstructions" data-toggle="modal" href="#modal">Instructions</a>
    </span>*@
    @Html.Hidden("TypeFilter",new { @id="typeFilter"})
        <div class="btn-group btn-group-sm" id="typeButtonGroup">
            <button class="btn btn-danger paddingFix" style="pointer-events:none;">Show: </button>
            <button class="btn btn-danger paddingFix" id="allFilter">All</button>
            <button class="btn btn-danger paddingFix" id="seasonalFilter">Seasonal</button>
            <button class="btn btn-danger paddingFix" id="dailyFilter">Daily</button>
        </div>
    <select name="Filter" class="form-control form-inline" style="display:inline!important;margin-left:3.5em;" id="filterSelect">
        <option value="0">Full Name</option><option value="1">First Name</option><option value="2">Last Name</option><option value="3">Email</option><option value="4">Phone</option>
    </select>
    <p style="display:inline">
        <input class="form-control" type="text" name="SearchString" style="display:inline!important " value="@ViewData["CurrentFilter"]">
        <input class="btn btn-danger" type="submit" value="Search" style="display:inline;" id="searchButton"/>
    </p>
</form>
<span id="createNew">
    <a data-toggle="modal" href="#modal1">New <i class="glyphicon glyphicon-folder-open"></i></a>
</span>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="address">Address</th>
            <th class="hidden-sm city">City</th>
            <th class="hidden-sm state">State</th>
            <th>Email Address</th>
            <th class="hidden-sm hidden-md phoneNumber">Phone Number</th>
            <th class="hidden-sm hidden-md phoneNumber2">Phone Number 2</th>
            <th>In</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td class="cellHover" onclick="document.getElementById(@item.ID.ToString()1).click();">
                @if (item.DailyRental == true)
                {
                    @Html.HiddenFor(modelItem => item.DailyRental, new { @class = "daily" })
                    var Date = item.DateCreated;
                    var Diff = Date.Subtract(DateTime.Now).TotalDays;
                    if (item.DueDate != null)
                    {
                        var example = DateTime.Now.Subtract(item.DueDate.Value);
                         if (example.TotalDays > 0)
                         {
                             @Html.HiddenFor(model => item.DateCreated, new { @class = "dailyOld" })
                         }
                    }
                }
                <a asp-action="Details" asp-route-id="@item.ID" asp-route-returnURl="window.location.href" id="@item.ID.ToString()1">@Html.DisplayFor(modelItem => item.FirstName)</a>
            </td>
            <td class="cellHover2" onclick="document.getElementById(@item.ID.ToString()2).click();">
                <a asp-action="Details" asp-route-id="@item.ID" id="@item.ID.ToString()2">@Html.DisplayFor(modelItem => item.LastName)</a>
            </td>
            <td class="address">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="hidden-sm city">
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td class="hidden-sm state">
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td class="cellHover" onclick="document.getElementById(@item.ID.ToString()3).click();">
                <a asp-action="details" asp-route-id="@item.ID" id="@item.ID.ToString()3">@Html.DisplayFor(modelItem => item.EmailAddress)</a>
            </td>
            <td class="hidden-sm hidden-md phoneNumber">
                @if (item.PhoneNumber.ToString() != "0")
                {
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                }
            </td>
            <td class="hidden-sm hidden-md phoneNumber2">
                @if (item.PhoneNumber2.ToString() != "0")
                {
                    @Html.DisplayFor(modelItem => item.PhoneNumber2)
                }
            </td>
            <td>
                <div class="checkContainer @item.PartialReturn.ToString()A" style="height:19px;width:19px;">
                    <a asp-action="ReturnRental" asp-route-id="@item.ID" id="checkLink">
                        @Html.DisplayFor(modelItem => item.Returned, "", "")
                    </a>
                </div>
            </td>
            <td id="toolsContainer">
                <a asp-action="Edit" asp-route-id="@item.ID" title="Edit"><i class="glyphicon glyphicon-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID" title="Details"><i class="glyphicon glyphicon-tags"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID" title="Delete"><i class="glyphicon glyphicon-remove-circle" style="color:red;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@if(Model.Count == 0)
{
    <span id="NoResultsSpan">No Results</span><br/>
    <span id="cloudpicture"></span>
}
<span></span>
    <div id="snackbar"></div>
    @*Instructions Modal*@
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center">Instructions</h1>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>Search</dt>
                    <dd>The Search bar is the fastest way to locate a rental. Simply select the filter you would like to use from Full Name,
                     First Name, Last Name, Email, Phone Number, or Daily Rentals and type in the corresponding value and click Search!
                     If Search is 
                    clicked with an empty value, it will return all Rentals. If Search is clicked with an empty value and the filter is set to Daily Rentals,
                    It will return all Daily Rentals. You can also enter a First/Last, or Full Name into the search box with the Daily Rental filter to search exclusively Daily Rentals.</dd>
                    <dt>New <i class="glyphicon glyphicon-folder-open" style="color:blue"></i></dt>
                    <dd>Click the New link to add a Rental to the list.</dd>
                    <dt><i class="glyphicon glyphicon-edit" style="color:blue"></i>  Edit</dt>
                    <dd>Click the Edit link to change details about a Rental or mark it as returned.</dd>
                    <dt><i class="glyphicon glyphicon-tags" style="color:blue"></i>  Details</dt>
                    <dd>Click the Details link for more about a Rental, as well as past records for the customer.</dd>
                    <dt><i class="glyphicon glyphicon-remove-circle" style="color:red;"></i> Delete</dt>
                    <dd>Click the Delete link to permanantly delete a record.</dd>
                    <dt><span style="background-color:yellow">Colors</span></dt>
                    <dd>If a record has a <span class="DailyRental">yellow background</span>, it is a Daily Rental.<br/>
                        If a record has a <span class="DailyRentalOld">orange background</span>, it is a Daily Rental that is older than 24 hours.
                    </dd>
                    <dt><input type="checkbox" class="checkbox" style="display:inline;" disabled="disabled" /> In</dt>
                    <dd>The In checkbox is checked if the rental has been returned.</dd>
                </dl>
            </div>
        </div>

    </div>
</div>
    <div id="modal-system">
        @*Create Modal System*@
        <div class="modal fade" id="modal1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-counter">Page 1</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center">Basic Information</h1>
                        <div class="modal-set-counter"></div>
                        <div class="prompt">
                            @*<span><i class="glyphicon glyphicon-trash delForm" id="delForm" onclick="validation.clearForm();"></i></span>*@
                            Lets get started!
                        </div>
                    </div>
                    <div class="modal-body" style="padding-top:10px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    Fill out all the <span style="color:#f96363;">red</span> fields to continue:
                                </div>
                            </div>
                        </div>
                        <input type="text" id="IdPrevious" style="display:none;" />
                        <input type="text" id="IdNext" style="display:none;" />
                        <div class="row">
                            <div class="col-sm-6 modalInputs col-right">
                                <input id="Fname" class="form-control input req1 grp1 req-invalid" maxlength="20" oninput="validation.vCheck(this.value,this.id)" placeholder="First Name" tabindex="1" />
                            </div>
                            <div class="col-sm-6 modalInputs col-left">
                                <input id="Lname" class="form-control input req1 grp1 req-invalid" maxlength="20" oninput="validation.vCheck(this.value,this.id)" placeholder="Last Name" tabindex="2" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 modalInputs col-right">
                                <input id="PNumber" class="form-control input req1 grp1 req-invalid" maxlength="15" oninput="validation.vCheck(this.value,this.id);maxLengthCheck(this);" onblur="validation.vCheck(this.value,this.id);" onkeypress="return isNumeric(event)" data-toggle="tooltip" data-placement="left" data-animation="true"
                                       min="1" max="10000000000000" placeholder="Phone Number" tabindex="3" />
                            </div>
                            <div class="col-sm-6 modalInputs col-left">
                                <input id="PNumber2" class="form-control input grp1" maxlength="15" oninput="validation.rCheck(this.value,this.id);maxLengthCheck(this);" data-toggle="tooltip" data-placement="right" data-animation="true"
                                       onkeypress="return isNumeric(event)" min="1" max="10000000000000" placeholder="Alt Phone Number" tabindex="4" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 modalInputs">
                                <input id="Email" class="form-control input req1 grp1 req-invalid" maxlength="30" data-toggle="tooltip" data-placement="left" data-animation="true"
                                       oninput="validation.vCheck(this.value,this.id)" onblur="validation.vCheck(this.value,this.id)" placeholder="Email Address" tabindex="5" />
                                <input id="Address" class="form-control req1 grp1 req-invalid" maxlength="40" oninput="validation.vCheck(this.value,this.id)" placeholder="Address" tabindex="6" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 modalInputs col-right">
                                <input id="City" class="form-control input citySuggest req1 grp1 req-invalid" maxlength="20" oninput="validation.vCheck(this.value,this.id)" placeholder="City" tabindex="7" />
                            </div>
                            <div class="col-sm-3 modalInputs col-right col-left">
                                <input id="State" class="form-control input req1 grp1 req-invalid" maxlength="15" oninput="validation.vCheck(this.value,this.id)" placeholder="State" tabindex="8" />
                            </div>
                            <div class="col-sm-4 modalInputs col-left">
                                <input id="Zip" class="form-control input req1 grp1 req-invalid" maxlength="10" oninput="validation.vCheck(this.value,this.id)" placeholder="Zip" tabindex="9" />
                            </div>
                        </div>
                        @*NAVBAR*@
                        <div class="text-center">
                            <div class="btn-group">
                                <button id="swapR1" class="btn btn-lg btn-yes" data-toggle="modal" data-target="#modal2" disabled="disabled" onclick="$('#modal1').modal('hide');">Next</button>
                            </div>
                        </div>
                        @*NAVBAR*@
                    </div>
                </div>

            </div>
        </div> @*Basic Information*@
        <div class="modal fade" id="modal2" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-counter">Page 2</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center">Personal Information</h1>
                        <div class="modal-set-counter"></div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 modalInputs">
                                <div class="text-center">
                                    <div class="btn-group btn-group-inline btn-measure" style="margin-top:-22px;">
                                        <input id="rental_IsMetric" style="width: 0;height: 0!important;opacity: 0;" value="false">
                                        <button id="btn-USA" class="btn btn-sm btn-default btn-primary" onclick="validation.measure(0); validation.btnSwap(this.id, 'btn-INT');">USA</button>
                                        <button id="btn-INT" class="btn btn-sm btn-default" onclick="validation.measure(1); validation.btnSwap(this.id, 'btn-USA');">International</button>
                                    </div>
                                </div>
                                <input id="Height" class="form-control req2 grp2 req-invalid" maxlength="3" min="1" max="999"
                                       oninput="validation.vCheck(this.value,this.id);maxLengthCheck(this);" onblur="validation.measureComplete(this.id,this.value);" placeholder="Height (ft'in&#34;)" />
                                <input id="Weight" class="form-control req2 grp2 req-invalid" onkeypress="return isNumeric(event)" min="1" max="1000"
                                       oninput="validation.vCheck(this.value,this.id);maxLengthCheck(this);" onblur="validation.measureComplete(this.id,this.value);" placeholder="Weight (lb.)" />
                                <select id="Sex" class="form-control form-select req2 grp2"
                                        oninput="validation.vCheck(this.value,this.id)" placeholder="Sex">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Unknown">Unknown</option>
                                </select>
                                <input type="number" id="Age" class="form-control req2 grp2 req-invalid" onkeypress="return isNumeric(event)" min="1" max="100"
                                       oninput="validation.vCheck(this.value,this.id);maxLengthCheck(this);" placeholder="Age" />
                            </div>
                        </div><br />
                        @*NAVBAR*@
                        <div class="text-center">
                            <div class="btn-group" style="margin-right:1em;">
                                <button id="swapR2" class="btn btn-lg btn-primary" onclick="$('#modal1').modal('show');$('#modal2').modal('hide');">
                                    Back
                                </button>
                            </div>
                            <div class="btn-group">
                                <button id="swapSki" class="btn btn-lg btn-yes" data-toggle="modal" data-target="#modal3" disabled="disabled" onclick="$('#modal2').modal('hide');validation.swapBackButton('ski');">Ski</button>
                                <button id="swapSnow" class="btn btn-lg btn-yes" data-toggle="modal" data-target="#modal4" disabled="disabled" onclick="$('#modal2').modal('hide');validation.swapBackButton('snow');">Snowboard</button>
                            </div>
                        </div>
                        @*NAVBAR*@
                    </div>
                </div>

            </div>
        </div> @*Personal Information*@
        <div class="modal fade" id="modal3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-counter">Page 3</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center">Ski Information</h1>
                        <div class="modal-set-counter"></div>
                    </div>
                    <div class="modal-body">
                        <div class="row text-center radio-container">
                            <img src="~/images/skilogo.jpg" id="ski-logo-img" />
                            <span style="font-size: 1.5em;margin-right: 1em;top: 5px;position: relative;">Skier Type:</span>
                            <div class="btn-group-inline" style="display:inline!important;">
                                <input id="skiType1" type="button" name="skiType" class="btn btn-default btn-primary" value="None" onclick="validation.btnSelect('1')">
                                <input id="skiType2" type="button" name="skiType" class="btn btn-default" value="One" onclick="validation.btnSelect('2')" />
                                <input id="skiType3" type="button" name="skiType" class="btn btn-default" value="Two" onclick="validation.btnSelect('3')" />
                                <input id="skiType4" type="button" name="skiType" class="btn btn-default" value="Three" onclick="validation.btnSelect('4')" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 modalInputs" style="padding-right:0px;">
                                <input id="ski-brand" class="form-control skiSuggest" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value);" data-toggle="tooltip" data-placement="left" maxlength="20"
                                       placeholder="Ski Brand" tabindex="10" />
                            </div>
                            <div class="col-xs-4 modalInputs" style="padding-left:0px;">
                                <input id="ski-size" class="form-control" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value);" data-toggle="tooltip" data-placement="right" maxlength="10"
                                       placeholder="Size" tabindex="12" />
                            </div>
                        </div>
                        <div id="ski-brand-collapse" class="collapse">
                            <div class="row">
                                <div class="col-xs-12 modalInputs">
                                    <input id="ski-inventory" class="form-control" oninput="validation.sCheck(this.value,this.id);" placeholder="Inventory Number" tabindex="-1" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 modalInputs" style="padding-right:0px;">
                                <input id="pole-brand" class="form-control skiSuggest" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value);" data-toggle="tooltip" data-placement="left" maxlength="20"
                                       placeholder="Pole Brand" tabindex="13" />
                            </div>
                            <div class="col-xs-4 modalInputs" style="padding-left:0px;">
                                <input id="pole-size" class="form-control" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value);" data-toggle="tooltip" data-placement="right" maxlength="10"
                                       placeholder="Size" tabindex="14" />
                            </div>
                        </div>
                        <div id="pole-brand-collapse" class="collapse">
                            <div class="row">
                                <div class="col-xs-12 modalInputs">
                                    <input id="pole-inventory" oninput="validation.sCheck(this.value,this.id);" class="form-control" placeholder="Inventory Number" tabindex="-1" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 modalInputs" style="padding-right:0px;">
                                <input id="binding-brand" class="form-control skiSuggest" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value);" data-toggle="tooltip" data-placement="left" maxlength="20"
                                       placeholder="Binding Brand" tabindex="15" />
                            </div>
                            <div class="col-xs-4 modalInputs" style="padding-left:0px;">
                                <input id="binding-size" class="form-control" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value);" data-toggle="tooltip" data-placement="right" maxlength="10"
                                       placeholder="Size" tabindex="16" />
                            </div>
                        </div>
                        <div id="binding-brand-collapse" class="collapse">
                            <div class="row">
                                <div class="col-xs-12 modalInputs">
                                    <input id="binding-inventory" class="form-control" oninput="validation.sCheck(this.value,this.id);" placeholder="Inventory Number" tabindex="-1" maxlength="30" />
                                </div>
                            </div>
                        </div><br />
                        <div class="text-center">
                            <div class="btn-group">
                                <button id="swapR3" class="btn btn-lg btn-primary" onclick="$('#modal2').modal('show');$('#modal3').modal('hide');">Back</button>
                            </div>
                            <div class="btn-group">
                                <button id="swapL2" class="btn btn-lg btn-yes" data-toggle="modal" data-target="#modal5" onclick="$('#modal3').modal('hide');">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> @*Ski*@
        <div class="modal fade" id="modal4" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-counter">Page 3</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center">Snowboard Information</h1>
                        <div class="modal-set-counter"></div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-8 modalInputs" style="padding-right:0px;">
                                <input id="board-brand" class="form-control skiSuggest" placeholder="Board Brand" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value)" data-toggle="tooltip" data-placement="left" tabindex="20" maxlength="20" />
                            </div>
                            <div class="col-xs-4 modalInputs" style="padding-left:0px;">
                                <input id="board-size" class="form-control" placeholder="Size" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value)" data-toggle="tooltip" data-placement="right" tabindex="21" maxlength="10" />
                            </div>
                        </div>
                        <div id="board-brand-collapse" class="collapse">
                            <div class="row">
                                <div class="col-xs-12 modalInputs">
                                    <input class="form-control" id="board-inventory" oninput="validation.sCheck(this.value,this.id);" placeholder="Inventory Number" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 modalInputs" style="padding-right:0px;">
                                <input id="boardbinding-brand" class="form-control skiSuggest" placeholder="Binding Brand" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value)" data-toggle="tooltip" data-placement="left" tabindex="22" maxlength="20" />
                            </div>
                            <div class="col-xs-4 modalInputs" style="padding-left:0px;">
                                <input id="boardbinding-size" class="form-control" placeholder="Size" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value)" data-toggle="tooltip" data-placement="right" tabindex="23" maxlength="10" />
                            </div>
                        </div>
                        <div id="boardbinding-brand-collapse" class="collapse">
                            <div class="row">
                                <div class="col-xs-12 modalInputs">
                                    <input id="boardbinding-inventory" class="form-control" placeholder="Inventory Number" oninput="validation.sCheck(this.value,this.id);" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 modalInputs">
                                <input class="form-control" id="board-stance" placeholder="Board Stance" tabindex="27" maxlength="20" />
                                <input class="form-control" id="stance-angles" placeholder="Stance Angles" tabindex="28" maxlength="20" />
                            </div>
                        </div><br />
                        <div class="text-center">
                            <div class="btn-group">
                                <button id="swapR3" class="btn btn-lg btn-primary" onclick="$('#modal2').modal('show');$('#modal4').modal('hide');">Back</button>
                            </div>
                            <div class="btn-group">
                                <button id="swapL7" class="btn btn-lg btn-yes" data-toggle="modal" data-target="#modal5" onclick="$('#modal4').modal('hide');">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> @*Snowboard*@
        <div class="modal fade" id="modal5" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-counter">Page 4</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center">Boot Information</h1>
                        <div class="modal-set-counter"></div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-8 modalInputs" style="padding-right:0px;">
                                <input id="boot-brand" class="form-control skiSuggest" placeholder="Boot Brand" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value)" data-toggle="tooltip" data-placement="left" tabindex="24" maxlength="20" />
                            </div>
                            <div class="col-xs-4 modalInputs" style="padding-left:0px;">
                                <input id="boot-size" class="form-control" placeholder="Size" oninput="validation.sCheck(this.value,this.id);validation.eCheck(this.id,this.value)" data-toggle="tooltip" data-placement="right" tabindex="25" maxlength="6" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 modalInputs">
                                <input id="boot-sole" class="form-control" placeholder="Boot Sole Length" tabindex="26" maxlength="6" />
                            </div>
                        </div>
                        <div id="boot-brand-collapse" class="collapse">
                            <div class="row">
                                <div class="col-xs-12 modalInputs">
                                    <input id="boot-inventory" class="form-control" oninput="validation.sCheck(this.value, this.id);" placeholder="Inventory Number" maxlength="30" />
                                </div>
                            </div>
                        </div><br />
                        <div class="text-center">
                            <div class="btn-group">
                                <button id="swapR32" class="btn btn-lg btn-primary">Back</button>
                            </div>
                            <div class="btn-group">
                                <button id="swapL22" class="btn btn-lg btn-yes" data-toggle="modal" data-target="#modal6" onclick="$('#modal5').modal('hide');">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> @*Boot*@
        <div class="modal fade" id="modal6" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-counter">Page 5</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title text-center">Finish</h1>
                        <div class="modal-set-counter"></div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 modalInputs">
                                <textarea placeholder="Customer Notes" class="form-control" maxlength="600" id="customerNotes"></textarea>
                            </div>
                        </div><br />
                        <button id="modalCollapse" data-toggle="collapse" data-target="#dailyStuff" class="btn btn-sm btn-default collapseMenu" style="max-width:100%;width:100%;margin-left:1.5px;">
                            Daily Rental
                        </button>
                        <div class="dailyContainer">
                            <div class="collapse" id="dailyStuff">
                                <div class="row">
                                    <div class="col-xs-12 modalInputs">
                                        <input type="checkbox" class="form-control" style="display:inline;width:10%;" id="daily-rental" />
                                        <input type="date" class="form-control" style="display:inline;max-width:89%;vertical-align:19px;" id="due-date" />
                                    </div>
                                </div>
                            </div>
                            <div class="collapseBottom" style="max-width:100%;width:100%;margin-left:1.5px"></div><br /><br />
                        </div><br />
                        <div class="text-center">
                            <div class="btn-group-vertical" style="margin-top:11px;">
                                <button id="finishUp" class="btn btn-lg btn-yes" onclick="validation.createRental()">Done</button>
                                <button id="createSet2" class="btn btn-lg btn-info" onclick="validation.createRental(true)">Create Set</button>
                                <button id="swapL3" class="btn btn-lg btn-primary" onclick="$('#modal5').modal('show');$('#modal6').modal('hide');">Back</button>
                            </div>
                        </div><br />
                    </div>
                </div>

            </div>
        </div> @*Finsih*@
        @*Create Modal System*@
    </div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="text-center">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled btn" style="margin-left:-30px">
        Back
    </a>
    <span>Page @Model.PageIndex / @Model.TotalPages</span>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled btn">
        Next
    </a>
</div>
@Html.Hidden("ReturnFirst",new { @id="ReturnFirst"})
@Html.Hidden("ReturnLast", new { @id = "ReturnLast" })
@Html.Hidden("ReturnId", new { @id = "ReturnId" })
</div>
<script src="~/js/index.js"></script>
<script>
    //On Document load, modify page to users specific settings
    document.addEventListener("DOMContentLoaded", function (event) {
        var Capitalize = getCookie("Capitalize");
        var Largefont = getCookie("LargeFont");
        var Error = getCookie("Error");
        if (Capitalize == "True") { if (!$("#outerContainer").hasClass("CapitalizeAll")) { $("#outerContainer").addClass("CapitalizeAll"); } }
        else { $("#outerContainer").removeClass("CapitalizeAll"); }
        if (Largefont == "True") { if (!$("#outerContainer").hasClass("LargeFont")) { $("#outerContainer").addClass("LargeFont"); } }
        else { $("#outerContainer").removeClass("LargeFont"); }
        if (Error == "True") {
            $("#snackbar").text("Error Saving!")
            $("#snackbar").addClass("show");
            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { $("#snackbar").removeClass("show"); }, 3000);
         }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        var delete_cookie = function(name) {
            document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        };
        if (sessionStorage.getItem("err") == "true"){ validation.snackbarStatus(true);}
        else{ if(sessionStorage.getItem("err")!=undefined){validation.snackbarStatus(false)}};
        if (getCookie("SetCount")){
            delete_cookie("SetCount");
        }
        // Keep track of selected filter in sessionStorage so it defaults to previous filter onload
        const filter = sessionStorage.getItem("Filter");
        if (filter!=null){$("#filterSelect").val(parseInt(filter));}
        $("#filterSelect").on("change",(x)=>{
            sessionStorage.setItem("Filter",x.target.value);
        });
        // Load up the Modal System immediately
        const ConvertToSet = getCookie("ConvertToSet");
        if (ConvertToSet!=null){
            let RentalLookup = getCookie("RentalLookup");
            if (RentalLookup != null){
                // Triggered by Add-To-Set
                validation.retrieveRental(RentalLookup);
            }
            else{
                // Triggered by Convert-To-Set
                validation.retrieveRental(ConvertToSet);
            }
            validation.createSetMode(ConvertToSet);
            delete_cookie("ConvertToSet");
            delete_cookie("RentalLookup");
        }
    });
</script>
<style>
    html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        background: #F5F5F5;
	    overflow-y: scroll;
        position: absolute;
        width: 12px;  /* remove scrollbar space */
    }
    ::-webkit-scrollbar-track
    {
    	border: 1px solid black;
    	background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar
    {
    	width: 10px;
    	background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar-thumb
    {
    	background-color: #000000;	
    }

    .modal-open{
        overflow-x:hidden;
        margin-left:15px;
        padding-right: 15px !important
    }
    input[type=checkbox]{
        pointer-events:none;
    }
    .btn-selected{
        background-color:#d62c1a;
    }
    #daily-rental{
        pointer-events:auto!important;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    #instructionsLink{
      border: 1px solid lightblue;
      border-radius: 6px;
      position: relative;
      padding: 5px;
      left:1em;
    }
    .hideAutocomplete{
        opacity:1;
        color: black;
    }
    .errorDiv > span{
        display:block;
    }
    #customValidation{
        margin-top: -2em;
        position: relative;
        left: -8.2em;
    }
    .collapseMenu{
    margin-left: -1em;
    display: block;
    text-align: center;
    max-width: 280px;
    background-color: lightgreen;
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid lightgrey;
    }
    .collapseMenu:hover{
        color:rgba(0, 0, 0, 0.83);
        text-decoration:none;
        background-color: rgba(144, 238, 144, 0.8);
    }
    .collapseBottom{
        border-top:1px solid lightgrey;
        height: 1em;
        background-color: lightgreen;
        margin-left: -1em;
        max-width: 280px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    #skiBrandDiv > div{
        display:inline;
    }
    .inputCompression{
        display:inline;
    }
    .inputCompression div{
        display:inline;
    }
    .btnCollapse{
        position: relative;
        bottom: -1px;
        padding:0px 2px 0px 2px;
        background: lightgreen;
    }
    .btnCollapse:hover,.btnCollapse:focus{
        color:black;
        background-color:rgba(144, 238, 144, 0.8);
    }
    .btnCollapse:focus{
        outline: none!important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    input:-webkit-autofill, 
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
         -webkit-box-shadow: 0 0 0px 1000px white inset;
   
     }
    .CapitalizeAll H2{
        text-transform:uppercase;
    }
    .CapitalizeAll table{
        text-transform:uppercase;
    }
    .CapitalizeAll a{
        text-transform:uppercase;
    }
    .CapitalizeAll button{
        text-transform:uppercase;
    }
    .CapitalizeAll select{
        text-transform:uppercase;
    }
    .CapitalizeAll input{
        text-transform:uppercase;
    }
    .CapitalizeAll span{
        text-transform:uppercase;
    }
    .LargeFont H2{
        font-size:2.5em;
    }
    .LargeFont table{
        font-size:1.5em;
    }
    .LargeFont a{
        font-size:1.5em;
    }
    .LargeFont button{
        font-size:1.5em!important;
    }
    .LargeFont select{
        font-size:1.5em;
        height: 55px;
    }
    .LargeFont input{
        font-size:1.5em;
        height: 55px;
    }
    .LargeFont span{
        font-size:1.5em;
    }
    .LargeFont .phoneNumber2{
        display:none;
    }
    .LargeFont .address{
        display:none;
    }
    .LargeFont .city{
        display:none;
    }
    .LargeFont .state{
        display:none;
    }
    .LargeFont .phoneNumber{
        display:none;
    }
    .LargeFont #searchButton{
        vertical-align: 0px;
    }
    .LargeFont #filterSelect{
        margin-left:0px!important;
    }
    .LargeFont #createNew{
        margin-top:-10px;
        margin-right:10px;
    }
    .LargeFont #typeButtonGroup{
        vertical-align: -18px;
    }
    .LargeFont.CapitalizeAll #createNew{
        font-size: .7em;
        margin-top:3px;
    }
    .LargeFont.CapitalizeAll #toolsContainer{
        font-size:.7em;
    }
</style>