﻿@model skiShop.Models.RentalViewModel3
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" id="outerContainer">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <h2>Do you want to mark @Model.Rental.FirstName @Model.Rental.LastName as:</h2>
                <hr />
                <form asp-action="ReturnRental" id="returnForm">
                    @Html.HiddenFor(model => model.Rental.ID)
                    @Html.HiddenFor(model => model.status)
                    @Html.HiddenFor(m=>m.message)
                    <div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" id="retBtn">Returned</button>
                            <button type="button" class="btn btn-danger" id="unretBtn">Unreturned</button>
                            <button type="button" class="btn btn-defualt" id="partBtn" onclick="$('#partial').collapse('toggle')">Partially Returned</button>
                        </div>
                    </div>
                    @*<button type="submit">Change</button>*@
                    @*<a data-toggle="collapse" data-target="#partial">Add Note</a>*@
                    <div class="collapse" id="partial">
                        <br />
                        <p style="font-weight:bold;">Select the items to be returned, then save.</p>
                        <span id="errorSpan" class="text-danger"></span>
                        <table class="table table-striped" style="margin-left:auto;margin-right:auto;width:30em;margin-bottom:0px;">
                            <tr>
                                <td></td>
                                <td>Item</td>
                                <td>Brand</td>
                                <td>Size</td>
                            </tr>

                            @if (@Model.Rental.SkiBrand != null)
                            {
                            <tr>
                                <td><input type="checkbox" name="partForm" value="@Model.Rental.SkiBrand-@Model.Rental.SkiSize" data-val="Ski" class="checkbox"/></td>
                                <td>Ski</td>
                                <td>@Model.Rental.SkiBrand</td>
                                <td>@Model.Rental.SkiSize</td>
                            </tr>
                            }
                            @if (@Model.Rental.PoleBrand != null)
                            {
                                <tr>
                                    <td><input type="checkbox" name="partForm" value="@Model.Rental.PoleBrand-@Model.Rental.PoleSize" data-val="Pole" class="checkbox"/></td>
                                    <td>Pole</td>
                                    <td>@Model.Rental.PoleBrand</td>
                                    <td>@Model.Rental.PoleSize</td>
                                </tr>
                            }
                            @if (@Model.Rental.BoardBrand != null)
                            {
                                <tr>
                                    <td><input type="checkbox" value="@Model.Rental.BoardBrand-@Model.Rental.BoardSize" name="partForm" data-val="Snowboard" class="checkbox"/></td>
                                    <td>Snowboard</td>
                                    <td>@Model.Rental.BoardBrand</td>
                                    <td>@Model.Rental.BoardSize</td>
                                </tr>
                            }
                            @if (@Model.Rental.BindingBrand != null)
                            {
                                <tr>
                                    <td><input type="checkbox" value="@Model.Rental.BindingBrand-@Model.Rental.BindingSize" name="partForm" data-val="Binding" class="checkbox"/></td>
                                    <td>Binding</td>
                                    <td>@Model.Rental.BindingBrand</td>
                                    <td>@Model.Rental.BindingSize</td>
                                </tr>
                            }
                            @if (@Model.Rental.BootBrand != null)
                            {
                                <tr>
                                    <td><input type="checkbox" value="@Model.Rental.BootBrand-@Model.Rental.BootSize" name="partForm" data-val="Boots" class="checkbox"/></td>
                                    <td>Boots</td>
                                    <td>@Model.Rental.BootBrand</td>
                                    <td>@Model.Rental.BootSize</td>
                                </tr>
                            }
                        </table>
                        <button class="btn btn-block btn-success" style="margin-left:auto;margin-right:auto;width:30em;" id="partSave">Save</button>
                    </div>
                </form><br/>
                <a asp-action="RedirectToIndex">Back to List</a> | 
                <a asp-action="Details" asp-route-id="@Model.Rental.ID">Back to Details</a>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('retBtn').addEventListener('click', function () {
        document.getElementById('status').value = 0;
        document.getElementById('returnForm').submit();
     });
    document.getElementById('unretBtn').addEventListener('click', function () {
        document.getElementById('status').value = 1;
        document.getElementById('returnForm').submit();
     });
    document.getElementById('partBtn').addEventListener('click', function () {
        document.getElementById('status').value = 2;
        //document.getElementById('partial').show();
        //document.getElementById('returnForm').submit();
    });

    document.getElementById('partSave').addEventListener('click', function (e) { e.preventDefault(); return false; });

    document.getElementById('partSave').addEventListener('click', function () {
        console.log('test');
        var parts = document.getElementsByName('partForm');
        var checked = 0;
        var empty = 0;
        var str = "";
        var _str = "";
        for (var x = 0; x < parts.length; x++) {
            if (parts[x].checked) {
                str += parts[x].getAttribute('data-val') + " " + parts[x].value + " ";
                checked += 1;
            }
            else {
                _str += parts[x].getAttribute('data-val') + " " + parts[x].value + " ";
                empty += 1;
            }
        }
        if (checked == parts.length) {
            //they selected all the boxes
            document.getElementById('errorSpan').innerText = "If everything has been returned, use the Returned button above.";
            return;
        }
        if (empty == parts.length) {
            //they didnt select any boxes
            document.getElementById('errorSpan').innerText = "If nothing has been returned, use the Unreturned button above.";
            return;
        }
        document.getElementById('message').value = "RT: " + str + "UR: " + _str;
        document.getElementById('returnForm').submit();
    });
    //On Document load, modify page to users specific settings
    document.addEventListener("DOMContentLoaded", function (event) {
        var Capitalize = getCookie("Capitalize");
        var Largefont = getCookie("LargeFont");
        if (Capitalize == "True") { if (!$("#outerContainer").hasClass("CapitalizeAll")) { $("#outerContainer").addClass("CapitalizeAll"); } }
        else { $("#outerContainer").removeClass("CapitalizeAll"); }
        if (Largefont == "True") {
            if (!$("#outerContainer").hasClass("LargeFont")) { $("#outerContainer").addClass("LargeFont"); }
        }
        else { $("#outerContainer").removeClass("LargeFont"); }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    });
</script>
<style>
    .LargeFont h2{
        font-size: 2.5em;
    }
    .LargeFont a{
        font-size:1.5em;
    }
    .LargeFont button{
        font-size:1.5em;
    }
    .LargeFont tbody{
        font-size:1.5em;
    }
    .LargeFont p{
        font-size:1.5em;
    }
    .LargeFont #errorSpan{
        font-size:1.5em;
    }
    .LargeFont input[type='checkbox']{
        margin-left:10px;
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
    .CapitalizeAll h2{
        text-transform:uppercase;
    }
    .CapitalizeAll a{
        text-transform:uppercase;
    }
    .CapitalizeAll button{
        text-transform:uppercase;
    }
    .CapitalizeAll tbody{
        text-transform:uppercase;
    }
    .CapitalizeAll p{
        text-transform:uppercase;
    }
    .CapitalizeAll #errorSpan{
        text-transform:uppercase;
    }
</style>